Lab 11
---
Hello All,

Welcome to the DSCI 510's lab.

Guidelines for the Lab:
- You will be given the lab assignment in the start of the lab. You're supposed to complete it by the deadline stated. Thursday, 11 November 11:59pm.

- You've to complete the assignments individually. If you are having trouble completing the assignment do let us know, we will clear your doubts and guide you but we will not write code for you and no one else should :) !!!  

- You have to fill in the code in this notebook and upload it to back to blackboard for submission. While doing this, make sure that all supporting files that you download from blackboard are in the same directory as this notebook.  

- You are encouraged to look up resources online like python docs and stackoverflow. But, you are encouraged to look up the topics and not the questions themselves  

- Your last submission will be counted towards your grade

Today, we are going to write some queries in order to create and manipulate tables.  

Info about sqlite python module: https://docs.python.org/3/library/sqlite3.html

For executing queries, this is the lifecycle that you'll follow:  
1. import the library `sqlite3`  
2. Create a connection to the database using `sqlite3.connect()`  
3. Create a cursor from the connection object we just created  
4. Execute queries to the database using the cursor object and the execute function.  
5. Lastly, make sure to commit and close the connection. (Likely to face problems if you forget this. In the worst case, try to restart the kernel.)

Q1.[10 points] 
---
In this question, you have to create a database, create a table, insert two rows of data and fetch all rows and return that list data. Information on the same is as below:  
database name : 'lab11.db'  
table name : 'sample_table'  
    - columns in the table : (name(text), age(integer), address(text))  

first row data : ('sherlock holmes', 33, '221 B Baker street')  
second row data : ('harry potter', 45, 'station 9 3/4, london') 

Note: You may want to drop the table before you create it.

---
Grading Rubric: Binary

In [9]:
import sqlite3


def sample_data():
    connection = sqlite3.connect("lab11.db")
    cur = connection.cursor()
    
    cur.execute("DROP TABLE IF EXISTS sample_table")
    
    cur.execute("CREATE TABLE sample_table (name text, age integer, address text)")
    
    cur.execute("INSERT INTO sample_table (name,age,address) VALUES ('sherlock holmes', 33, '221 B Baker street'), ('harry potter', 45, 'station 9 3/4, london')")
    
    connection.commit()
    
    cur.execute("SELECT * FROM sample_table")
    vals = cur.fetchall()

    cur.close()
    
    return vals
    pass
sample_data()

[('sherlock holmes', 33, '221 B Baker street'),
 ('harry potter', 45, 'station 9 3/4, london')]

Q2.[10 points] 
---
Create a function which creates the sql table of the titanic_dataset. You should create this table in the same database that you created in Q1.    

You are required to use the `csv_dataset` class that we used in Lab6. We have provided you with the Lab6Code.py which contains `csv_dataset` class implementation. You can import `csv_dataset` class from Lab6Code.py. You should create `csv_dataset` object with `titanic_dataset.csv` file.  

table name - titanic_dataset  
column names should be the same as the first row of the dataset and the types should be from integer, real or text as required.  
PassengerId should be the primary key of the table.

Insert the whole dataset into a sql table and run this query - `SELECT * FROM titanic_dataset where PassengerId is 75`. Return output of query from the function.

---
Grading Rubric:  
+2 - if table exists and columns are setup properly  
+8 - if correct output is returned.

In [10]:
import Lab6Code
def get_titanic_dataset():
    titanic_data = Lab6Code.csv_dataset("titanic_data.csv", ",")
    l = titanic_data.__len__()
    
    connection = sqlite3.connect("lab11.db")
    cur = connection.cursor()
    
    cur.execute("DROP TABLE IF EXISTS titanic_dataset")
    cur.execute("CREATE TABLE titanic_dataset (PassengerId Integer PRIMARY KEY , Survived Integer, Pclass Integer, Name Text, Sex Text, Age Integer, Ticket Text, Fare Real)")
    
    for i in range(1,l):
        PassengerID = titanic_data.__getitem__(i)[0]
        Survived = titanic_data.__getitem__(i)[1]
        PClass = titanic_data.__getitem__(i)[2]
        Name = titanic_data.__getitem__(i)[3]
        Sex = titanic_data.__getitem__(i)[4]
        Age = titanic_data.__getitem__(i)[5]
        Ticket = titanic_data.__getitem__(i)[6]
        Fare = titanic_data.__getitem__(i)[7]
        
        cur.execute("INSERT INTO titanic_dataset (PassengerId, Survived, Pclass, Name, Sex, Age, Ticket, Fare) VALUES (?,?,?,?,?,?,?,?)",(PassengerID, Survived, PClass, Name, Sex, Age, Ticket, Fare))
        connection.commit()
        
    result = cur.execute("SELECT * FROM titanic_dataset where PassengerId is 75")
    
    for row in result:
        res = row
        break
    cur.close()
    
    return res
    pass
get_titanic_dataset()
print(get_titanic_dataset())

(75, 1, 3, 'Bing, Mr. Lee', 'male', 32, '1601', 56.4958)

Q3.[10 points] 
---
For this question, you have to write queries on the `titanic_dataset` for the following questions and print the output for them.  
1. Get all rows of data where Pclass is 1  (3 points)
2. Get information of all females who survived  (3 points)
3. Get information of people who did not survive and were below 25 years of age. Order your output by age in ascending order  (4 points)


Bonus Q.[5 points]
---
4. Get the information of the person who has paid the highest fair (2 points)
5. Update all fares with value 0 to the average of the fares without 0. (3 points)

In [11]:
connection = sqlite3.connect("lab11.db")
cur = connection.cursor()

In [12]:
# Query 1
print('Query 1 output')
# Write code here

result = cur.execute("SELECT * FROM titanic_dataset WHERE Pclass is 1")
for row in result:
    print(row)

Query 1 output
(2, 1, 1, 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', 38, 'PC 17599', 71.2833)
(4, 1, 1, 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', 35, '113803', 53.1)
(7, 0, 1, 'McCarthy, Mr. Timothy J', 'male', 54, '17463', 51.8625)
(12, 1, 1, 'Bonnell, Miss. Elizabeth', 'female', 58, '113783', 0.0)
(24, 1, 1, 'Sloper, Mr. William Thompson', 'male', 28, '113788', 35.5)
(28, 0, 1, 'Fortune, Mr. Charles Alexander', 'male', 19, '19950', 263.0)
(31, 0, 1, 'Uruchurtu, Don. Manuel E', 'male', 40, 'PC 17601', 0.0)
(32, 1, 1, 'Spencer, Mrs. William Augustus (Marie Eugenie)', 'female', '', 'PC 17569', 146.5208)
(35, 0, 1, 'Meyer, Mr. Edgar Joseph', 'male', 28, 'PC 17604', 82.1708)
(36, 0, 1, 'Holverson, Mr. Alexander Oskar', 'male', 42, '113789', 52.0)
(53, 1, 1, 'Harper, Mrs. Henry Sleeper (Myna Haxtun)', 'female', 49, 'PC 17572', 76.7292)
(55, 0, 1, 'Ostby, Mr. Engelhart Cornelius', 'male', 65, '113509', 61.9792)
(56, 1, 1, 'Woolner, Mr. Hugh', 'male', '', '19947', 35.5)
(62, 1, 1, 'Icard, Miss. Amelie', 'female', 38, '113572', 80.0)
(63, 0, 1, 'Harris, Mr. Henry Birkhardt', 'male', 45, '36973', 83.475)
(65, 0, 1, 'Stewart, Mr. Albert A', 'male', '', 'PC 17605', 0.0)
(84, 0, 1, 'Carrau, Mr. Francisco M', 'male', 28, '113059', 47.1)
(89, 1, 1, 'Fortune, Miss. Mabel Helen', 'female', 23, '19950', 263.0)
(93, 0, 1, 'Chaffee, Mr. Herbert Fuller', 'male', 46, 'W.E.P. 5734', 61.175)
(97, 0, 1, 'Goldschmidt, Mr. George B', 'male', 71, 'PC 17754', 34.6542)
(98, 1, 1, 'Greenfield, Mr. William Bertram', 'male', 23, 'PC 17759', 63.3583)
(103, 0, 1, 'White, Mr. Richard Frasar', 'male', 21, '35281', 77.2875)
(111, 0, 1, 'Porter, Mr. Walter Chamberlain', 'male', 47, '110465', 52.0)
(119, 0, 1, 'Baxter, Mr. Quigg Edmond', 'male', 24, 'PC 17558', 247.5208)
(125, 0, 1, 'White, Mr. Percival Wayland', 'male', 54, '35281', 77.2875)
(137, 1, 1, 'Newsom, Miss. Helen Monypeny', 'female', 19, '11752', 0.0)
(138, 0, 1, 'Futrelle, Mr. Jacques Heath', 'male', 37, '113803', 53.1)
(140, 0, 1, 'Giglio, Mr. Victor', 'male', 24, 'PC 17593', 79.2)
(152, 1, 1, 'Pears, Mrs. Thomas (Edith Wearne)', 'female', 22, '113776', 66.6)
(156, 0, 1, 'Williams, Mr. Charles Duane', 'male', 51, 'PC 17597', 61.3792)
(167, 1, 1, 'Chibnall, Mrs. (Edith Martha Bowerman)', 'female', '', '113505', 55.0)
(169, 0, 1, 'Baumann, Mr. John D', 'male', '', 'PC 17318', 0.0)
(171, 0, 1, 'Van der hoef, Mr. Wyckoff', 'male', 61, '111240', 33.5)
(175, 0, 1, 'Smith, Mr. James Clinch', 'male', 56, '17764', 30.6958)
(178, 0, 1, 'Isham, Miss. Ann Elizabeth', 'female', 50, 'PC 17595', 0.0)
(186, 0, 1, 'Rood, Mr. Hugh Roscoe', 'male', '', '113767', 50.0)
(188, 1, 1, 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")', 'male', 45, '111428', 0.0)
(195, 1, 1, 'Brown, Mrs. James Joseph (Margaret Tobin)', 'female', 44, 'PC 17610', 0.0)
(196, 1, 1, 'Lurette, Miss. Elise', 'female', 58, 'PC 17569', 146.5208)
(210, 1, 1, 'Blank, Mr. Henry', 'male', 40, '112277', 31.0)
(216, 1, 1, 'Newell, Miss. Madeleine', 'female', 31, '35273', 113.275)
(219, 1, 1, 'Bazzani, Miss. Albina', 'female', 32, '11813', 76.2917)
(225, 1, 1, 'Hoyt, Mr. Frederick Maxfield', 'male', 38, '19943', 90.0)
(231, 1, 1, 'Harris, Mrs. Henry Birkhardt (Irene Wallach)', 'female', 35, '36973', 83.475)
(246, 0, 1, 'Minahan, Dr. William Edward', 'male', 44, '19928', 90.0)
(249, 1, 1, 'Beckwith, Mr. Richard Leonard', 'male', 37, '11751', 52.5542)
(253, 0, 1, 'Stead, Mr. William Thomas', 'male', 62, '113514', 0.0)
(257, 1, 1, 'Thorne, Mrs. Gertrude Maybelle', 'female', '', 'PC 17585', 79.2)
(258, 1, 1, 'Cherry, Miss. Gladys', 'female', 30, '110152', 86.5)
(259, 1, 1, 'Ward, Miss. Anna', 'female', 35, 'PC 17755', 512.3292)
(263, 0, 1, 'Taussig, Mr. Emil', 'male', 52, '110413', 79.65)
(264, 0, 1, 'Harrison, Mr. William', 'male', 40, '112059', 0.0)
(269, 1, 1, 'Graham, Mrs. William Thompson (Edith Junkins)', 'female', 58, 'PC 17582', 153.4625)
(270, 1, 1, 'Bissette, Miss. Amelia', 'female', 35, 'PC 17760', 135.6333)
(271, 0, 1, 'Cairns, Mr. Alexander', 'male', '', '113798', 31.0)
(274, 0, 1, 'Natsch, Mr. Charles H', 'male', 37, 'PC 17596', 0.0)
(276, 1, 1, 'Andrews, Miss. Kornelia Theodosia', 'female', 63, '13502', 77.9583)
(285, 0, 1, 'Smith, Mr. Richard William', 'male', '', '113056', 0.0)
(291, 1, 1, 'Barber, Miss. Ellen "Nellie"', 'female', 26, '19877', 78.85)
(292, 1, 1, 'Bishop, Mrs. Dickinson H (Helen Walton)', 'female', 19, '11967', 91.0792)
(296, 0, 1, 'Lewy, Mr. Ervin G', 'male', '', 'PC 17612', 0.0)
(298, 0, 1, 'Allison, Miss. Helen Loraine', 'female', 2, '113781', 151.55)
(299, 1, 1, 'Saalfeld, Mr. Adolphe', 'male', '', '19988', 30.5)
(300, 1, 1, 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)', 'female', 50, 'PC 17558', 247.5208)
(306, 1, 1, 'Allison, Master. Hudson Trevor', 'male', 0.92, '113781', 151.55)
(307, 1, 1, 'Fleming, Miss. Margaret', 'female', '', '17421', 110.8833)
(308, 1, 1, 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)', 'female', 17, 'PC 17758', 108.9)
(310, 1, 1, 'Francatelli, Miss. Laura Mabel', 'female', 30, 'PC 17485', 56.9292)
(311, 1, 1, 'Hays, Miss. Margaret Bechstein', 'female', 24, '11767', 83.1583)
(312, 1, 1, 'Ryerson, Miss. Emily Borie', 'female', 18, 'PC 17608', 262.375)
(319, 1, 1, 'Wick, Miss. Mary Natalie', 'female', 31, '36928', 164.8667)
(320, 1, 1, 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)', 'female', 40, '16966', 134.5)
(326, 1, 1, 'Young, Miss. Marie Grice', 'female', 36, 'PC 17760', 135.6333)
(330, 1, 1, 'Hippach, Miss. Jean Gertrude', 'female', 16, '111361', 57.9792)
(332, 0, 1, 'Partner, Mr. Austen', 'male', 45.5, '113043', 0.0)
(333, 0, 1, 'Graham, Mr. George Edward', 'male', 38, 'PC 17582', 153.4625)
(335, 1, 1, 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)', 'female', '', 'PC 17611', 133.65)
(337, 0, 1, 'Pears, Mr. Thomas Clinton', 'male', 29, '113776', 66.6)
(338, 1, 1, 'Burns, Miss. Elizabeth Margaret', 'female', 41, '16966', 134.5)
(340, 0, 1, 'Blackwell, Mr. Stephen Weart', 'male', 45, '113784', 35.5)
(342, 1, 1, 'Fortune, Miss. Alice Elizabeth', 'female', 24, '19950', 263.0)
(352, 0, 1, 'Williams-Lambert, Mr. Fletcher Fellows', 'male', '', '113510', 35.0)
(357, 1, 1, 'Bowerman, Miss. Elsie Edith', 'female', 22, '113505', 55.0)
(367, 1, 1, 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)', 'female', 60, '110813', 75.25)
(370, 1, 1, 'Aubart, Mme. Leontine Pauline', 'female', 24, 'PC 17477', 69.3)
(371, 1, 1, 'Harder, Mr. George Achilles', 'male', 25, '11765', 55.4417)
(374, 0, 1, 'Ringhini, Mr. Sante', 'male', 22, 'PC 17760', 135.6333)
(376, 1, 1, 'Meyer, Mrs. Edgar Joseph (Leila Saks)', 'female', '', 'PC 17604', 82.1708)
(378, 0, 1, 'Widener, Mr. Harry Elkins', 'male', 27, '113503', 211.5)
(381, 1, 1, 'Bidois, Miss. Rosalie', 'female', 42, 'PC 17757', 227.525)
(384, 1, 1, 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)', 'female', 35, '113789', 52.0)
(391, 1, 1, 'Carter, Mr. William Ernest', 'male', 36, '113760', 120.0)
(394, 1, 1, 'Newell, Miss. Marjorie', 'female', 23, '35273', 113.275)
(413, 1, 1, 'Minahan, Miss. Daisy E', 'female', 33, '19928', 90.0)
(431, 1, 1, 'Bjornstrom-Steffansson, Mr. Mauritz Hakan', 'male', 28, '110564', 0.0)
(435, 0, 1, 'Silvey, Mr. William Baird', 'male', 50, '13507', 55.9)
(436, 1, 1, 'Carter, Miss. Lucile Polk', 'female', 14, '113760', 120.0)
(439, 0, 1, 'Fortune, Mr. Mark', 'male', 64, '19950', 263.0)
(446, 1, 1, 'Dodge, Master. Washington', 'male', 4, '33638', 81.8583)
(448, 1, 1, 'Seward, Mr. Frederic Kimber', 'male', 34, '113794', 0.0)
(450, 1, 1, 'Peuchen, Major. Arthur Godfrey', 'male', 52, '113786', 30.5)
(453, 0, 1, 'Foreman, Mr. Benjamin Laventall', 'male', 30, '113051', 0.0)
(454, 1, 1, 'Goldenberg, Mr. Samuel L', 'male', 49, '17453', 89.1042)
(457, 0, 1, 'Millet, Mr. Francis Davis', 'male', 65, '13509', 0.0)
(458, 1, 1, 'Kenyon, Mrs. Frederick R (Marion)', 'female', '', '17464', 51.8625)
(461, 1, 1, 'Anderson, Mr. Harry', 'male', 48, '19952', 0.0)
(463, 0, 1, 'Gee, Mr. Arthur H', 'male', 47, '111320', 38.5)
(468, 0, 1, 'Smart, Mr. John Montgomery', 'male', 56, '113792', 0.0)
(476, 0, 1, 'Clifford, Mr. George Quincy', 'male', '', '110465', 52.0)
(485, 1, 1, 'Bishop, Mr. Dickinson H', 'male', 25, '11967', 91.0792)
(487, 1, 1, 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)', 'female', 35, '19943', 90.0)
(488, 0, 1, 'Kent, Mr. Edward Austin', 'male', 58, '11771', 0.0)
(493, 0, 1, 'Molson, Mr. Harry Markland', 'male', 55, '113787', 30.5)
(494, 0, 1, 'Artagaveytia, Mr. Ramon', 'male', 71, 'PC 17609', 49.5042)
(497, 1, 1, 'Eustis, Miss. Elizabeth Mussey', 'female', 54, '36947', 78.2667)
(499, 0, 1, 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)', 'female', 25, '113781', 151.55)
(505, 1, 1, 'Maioni, Miss. Roberta', 'female', 16, '110152', 86.5)
(506, 0, 1, 'Penasco y Castellana, Mr. Victor de Satode', 'male', 18, 'PC 17758', 108.9)
(508, 1, 1, 'Bradley, Mr. George ("George Arthur Brayton")', 'male', '', '111427', 0.0)
(513, 1, 1, 'McGough, Mr. James Robert', 'male', 36, 'PC 17473', 0.0)
(514, 1, 1, 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)', 'female', 54, 'PC 17603', 59.4)
(516, 0, 1, 'Walker, Mr. William Anderson', 'male', 47, '36967', 34.0208)
(521, 1, 1, 'Perreault, Miss. Anne', 'female', 30, '12749', 93.5)
(524, 1, 1, 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)', 'female', 44, '111361', 57.9792)
(528, 0, 1, 'Farthing, Mr. John', 'male', '', 'PC 17483', 221.7792)
(537, 0, 1, 'Butt, Major. Archibald Willingham', 'male', 45, '113050', 0.0)
(538, 1, 1, 'LeRoy, Miss. Bertha', 'female', 30, 'PC 17761', 106.425)
(540, 1, 1, 'Frolicher, Miss. Hedwig Margaritha', 'female', 22, '13568', 49.5)
(541, 1, 1, 'Crosby, Miss. Harriet R', 'female', 36, 'WE/P 5735', 71.0)
(545, 0, 1, 'Douglas, Mr. Walter Donald', 'male', 50, 'PC 17761', 106.425)
(546, 0, 1, 'Nicholson, Mr. Arthur Ernest', 'male', 64, '693', 0.0)
(551, 1, 1, 'Thayer, Mr. John Borland Jr', 'male', 17, '17421', 110.8833)
(556, 0, 1, 'Wright, Mr. George', 'male', 62, '113807', 0.0)
(557, 1, 1, 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")', 'female', 48, '11755', 39.6)
(558, 0, 1, 'Robbins, Mr. Victor', 'male', '', 'PC 17757', 227.525)
(559, 1, 1, 'Taussig, Mrs. Emil (Tillie Mandelbaum)', 'female', 39, '110413', 79.65)
(572, 1, 1, 'Appleton, Mrs. Edward Dale (Charlotte Lamson)', 'female', 53, '11769', 51.4792)
(573, 1, 1, 'Flynn, Mr. John Irwin ("Irving")', 'male', 36, 'PC 17474', 0.0)
(578, 1, 1, 'Silvey, Mrs. William Baird (Alice Munger)', 'female', 39, '13507', 55.9)
(582, 1, 1, 'Thayer, Mrs. John Borland (Marian Longstreth Morris)', 'female', 39, '17421', 110.8833)
(584, 0, 1, 'Ross, Mr. John Hugo', 'male', 36, '13049', 40.125)
(586, 1, 1, 'Taussig, Miss. Ruth', 'female', 18, '110413', 79.65)
(588, 1, 1, 'Frolicher-Stehli, Mr. Maxmillian', 'male', 60, '13567', 79.2)
(592, 1, 1, 'Stephenson, Mrs. Walter Bertram (Martha Eustis)', 'female', 52, '36947', 78.2667)
(600, 1, 1, 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")', 'male', 49, 'PC 17485', 56.9292)
(603, 0, 1, 'Harrington, Mr. Charles H', 'male', '', '113796', 42.4)
(605, 1, 1, 'Homer, Mr. Harry ("Mr E Haven")', 'male', 35, '111426', 0.0)
(608, 1, 1, 'Daniel, Mr. Robert Williams', 'male', 27, '113804', 30.5)
(610, 1, 1, 'Shutes, Miss. Elizabeth W', 'female', 40, 'PC 17582', 153.4625)
(622, 1, 1, 'Kimball, Mr. Edwin Nelson Jr', 'male', 42, '11753', 52.5542)
(626, 0, 1, 'Sutton, Mr. Frederick', 'male', 61, '36963', 32.3208)
(628, 1, 1, 'Longley, Miss. Gretchen Fiske', 'female', 21, '13502', 77.9583)
(631, 1, 1, 'Barkworth, Mr. Algernon Henry Wilson', 'male', 80, '27042', 30.0)
(633, 1, 1, 'Stahelin-Maeglin, Dr. Max', 'male', 32, '13214', 30.5)
(634, 0, 1, 'Parr, Mr. William Henry Marsh', 'male', '', '112052', 0.0)
(642, 1, 1, 'Sagesser, Mlle. Emma', 'female', 24, 'PC 17477', 69.3)
(646, 1, 1, 'Harper, Mr. Henry Sleeper', 'male', 48, 'PC 17572', 76.7292)
(648, 1, 1, 'Simonius-Blumer, Col. Oberst Alfons', 'male', 56, '13213', 35.5)
(660, 0, 1, 'Newell, Mr. Arthur Webster', 'male', 58, '35273', 113.275)
(661, 1, 1, 'Frauenthal, Dr. Henry William', 'male', 50, 'PC 17611', 133.65)
(663, 0, 1, 'Colley, Mr. Edward Pomeroy', 'male', 47, '5727', 0.0)
(670, 1, 1, 'Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)', 'female', '', '19996', 52.0)
(672, 0, 1, 'Davidson, Mr. Thornton', 'male', 31, 'F.C. 12750', 52.0)
(680, 1, 1, 'Cardeza, Mr. Thomas Drake Martinez', 'male', 36, 'PC 17755', 512.3292)
(682, 1, 1, 'Hassab, Mr. Hammad', 'male', 27, 'PC 17572', 76.7292)
(690, 1, 1, 'Madill, Miss. Georgette Alexandra', 'female', 15, '24160', 211.3375)
(691, 1, 1, 'Dick, Mr. Albert Adrian', 'male', 31, '17474', 57.0)
(695, 0, 1, 'Weir, Col. John', 'male', 60, '113800', 0.0)
(699, 0, 1, 'Thayer, Mr. John Borland', 'male', 49, '17421', 110.8833)
(701, 1, 1, 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)', 'female', 18, 'PC 17757', 227.525)
(702, 1, 1, 'Silverthorne, Mr. Spencer Victor', 'male', 35, 'PC 17475', 0.0)
(708, 1, 1, 'Calderhead, Mr. Edward Pennington', 'male', 42, 'PC 17476', 0.0)
(709, 1, 1, 'Cleaver, Miss. Alice', 'female', 22, '113781', 151.55)
(711, 1, 1, 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")', 'female', 24, 'PC 17482', 49.5042)
(712, 0, 1, 'Klaber, Mr. Herman', 'male', '', '113028', 0.0)
(713, 1, 1, 'Taylor, Mr. Elmer Zebley', 'male', 48, '19996', 52.0)
(717, 1, 1, 'Endres, Miss. Caroline Louise', 'female', 38, 'PC 17757', 227.525)
(725, 1, 1, 'Chambers, Mr. Norman Campbell', 'male', 27, '113806', 53.1)
(731, 1, 1, 'Allen, Miss. Elisabeth Walton', 'female', 29, '24160', 211.3375)
(738, 1, 1, 'Lesurer, Mr. Gustave J', 'male', 35, 'PC 17755', 512.3292)
(741, 1, 1, 'Hawksford, Mr. Walter James', 'male', '', '16988', 30.0)
(742, 0, 1, 'Cavendish, Mr. Tyrell William', 'male', 36, '19877', 78.85)
(743, 1, 1, 'Ryerson, Miss. Susan Parker "Suzette"', 'female', 21, 'PC 17608', 262.375)
(746, 0, 1, 'Crosby, Capt. Edward Gifford', 'male', 70, 'WE/P 5735', 71.0)
(749, 0, 1, 'Marvin, Mr. Daniel Warner', 'male', 19, '113773', 53.1)
(760, 1, 1, 'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)', 'female', 33, '110152', 86.5)
(764, 1, 1, 'Carter, Mrs. William Ernest (Lucile Polk)', 'female', 36, '113760', 120.0)
(766, 1, 1, 'Hogeboom, Mrs. John C (Anna Andrews)', 'female', 51, '13502', 77.9583)
(767, 0, 1, 'Brewe, Dr. Arthur Jackson', 'male', '', '112379', 39.6)
(780, 1, 1, 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)', 'female', 43, '24160', 211.3375)
(782, 1, 1, 'Dick, Mrs. Albert Adrian (Vera Gillespie)', 'female', 17, '17474', 57.0)
(783, 0, 1, 'Long, Mr. Milton Clyde', 'male', 29, '113501', 30.0)
(790, 0, 1, 'Guggenheim, Mr. Benjamin', 'male', 46, 'PC 17593', 79.2)
(794, 0, 1, 'Hoyt, Mr. William Fisher', 'male', '', 'PC 17600', 30.6958)
(797, 1, 1, 'Leader, Dr. Alice (Farnham)', 'female', 49, '17465', 0.0)
(803, 1, 1, 'Carter, Master. William Thornton II', 'male', 11, '113760', 120.0)
(807, 0, 1, 'Andrews, Mr. Thomas Jr', 'male', 39, '112050', 0.0)
(810, 1, 1, 'Chambers, Mrs. Norman Campbell (Bertha Griggs)', 'female', 33, '113806', 53.1)
(816, 0, 1, 'Fry, Mr. Richard', 'male', '', '112058', 0.0)
(821, 1, 1, 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)', 'female', 52, '12749', 93.5)
(823, 0, 1, 'Reuchlin, Jonkheer. John George', 'male', 38, '19972', 0.0)
(830, 1, 1, 'Stone, Mrs. George Nelson (Martha Evelyn)', 'female', 62, '113572', 80.0)
(836, 1, 1, 'Compton, Miss. Sara Rebecca', 'female', 39, 'PC 17756', 83.1583)
(840, 1, 1, 'Marechal, Mr. Pierre', 'male', '', '11774', 0.0)
(843, 1, 1, 'Serepeca, Miss. Augusta', 'female', 30, '113798', 31.0)
(850, 1, 1, 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)', 'female', '', '17453', 89.1042)
(854, 1, 1, 'Lines, Miss. Mary Conover', 'female', 16, 'PC 17592', 39.4)
(857, 1, 1, 'Wick, Mrs. George Dennick (Mary Hitchcock)', 'female', 45, '36928', 164.8667)
(858, 1, 1, 'Daly, Mr. Peter Denis ', 'male', 51, '113055', 0.0)
(863, 1, 1, 'Swift, Mrs. Frederick Joel (Margaret Welles Barron)', 'female', 48, '17466', 0.0)
(868, 0, 1, 'Roebling, Mr. Washington Augustus II', 'male', 31, 'PC 17590', 50.4958)
(872, 1, 1, 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)', 'female', 47, '11751', 52.5542)
(873, 0, 1, 'Carlsson, Mr. Frans Olof', 'male', 33, '695', 5.0)
(880, 1, 1, 'Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)', 'female', 56, '11767', 83.1583)
(888, 1, 1, 'Graham, Miss. Margaret Edith', 'female', 19, '112053', 30.0)
(890, 1, 1, 'Behr, Mr. Karl Howell', 'male', 26, '111369', 30.0)

In [13]:
# Query 2
print('Query 2 output')
# Write code here
result = cur.execute("SELECT * FROM titanic_dataset WHERE (Survived is 1) AND (Sex is ?)", ("female",))
for row in result:
    print(row)

Query 2 output
(2, 1, 1, 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', 38, 'PC 17599', 71.2833)
(3, 1, 3, 'Heikkinen, Miss. Laina', 'female', 26, 'STON/O2. 3101282', 7.925)
(4, 1, 1, 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', 35, '113803', 53.1)
(9, 1, 3, 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', 27, '347742', 11.1333)
(10, 1, 2, 'Nasser, Mrs. Nicholas (Adele Achem)', 'female', 14, '237736', 30.0708)
(11, 1, 3, 'Sandstrom, Miss. Marguerite Rut', 'female', 4, 'PP 9549', 16.7)
(12, 1, 1, 'Bonnell, Miss. Elizabeth', 'female', 58, '113783', 0.0)
(16, 1, 2, 'Hewlett, Mrs. (Mary D Kingcome) ', 'female', 55, '248706', 16.0)
(20, 1, 3, 'Masselmani, Mrs. Fatima', 'female', '', '2649', 7.225)
(23, 1, 3, 'McGowan, Miss. Anna "Annie"', 'female', 15, '330923', 8.0292)
(26, 1, 3, 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'female', 38, '347077', 31.3875)
(29, 1, 3, 'O\'Dwyer, Miss. Ellen "Nellie"', 'female', '', '330959', 7.8792)
(32, 1, 1, 'Spencer, Mrs. William Augustus (Marie Eugenie)', 'female', '', 'PC 17569', 146.5208)
(33, 1, 3, 'Glynn, Miss. Mary Agatha', 'female', '', '335677', 7.75)
(40, 1, 3, 'Nicola-Yarred, Miss. Jamila', 'female', 14, '2651', 11.2417)
(44, 1, 2, 'Laroche, Miss. Simonne Marie Anne Andree', 'female', 3, 'SC/Paris 2123', 41.5792)
(45, 1, 3, 'Devaney, Miss. Margaret Delia', 'female', 19, '330958', 7.8792)
(48, 1, 3, "O'Driscoll, Miss. Bridget", 'female', '', '14311', 7.75)
(53, 1, 1, 'Harper, Mrs. Henry Sleeper (Myna Haxtun)', 'female', 49, 'PC 17572', 76.7292)
(54, 1, 2, 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', 'female', 29, '2926', 0.0)
(57, 1, 2, 'Rugg, Miss. Emily', 'female', 21, 'C.A. 31026', 10.5)
(59, 1, 2, 'West, Miss. Constance Mirium', 'female', 5, 'C.A. 34651', 0.0)
(62, 1, 1, 'Icard, Miss. Amelie', 'female', 38, '113572', 80.0)
(67, 1, 2, 'Nye, Mrs. (Elizabeth Ramell)', 'female', 29, 'C.A. 29395', 10.5)
(69, 1, 3, 'Andersson, Miss. Erna Alexandra', 'female', 17, '3101281', 7.925)
(80, 1, 3, 'Dowdell, Miss. Elizabeth', 'female', 30, '364516', 12.475)
(83, 1, 3, 'McDermott, Miss. Brigdet Delia', 'female', '', '330932', 7.7875)
(85, 1, 2, 'Ilett, Miss. Bertha', 'female', 17, 'SO/C 14885', 10.5)
(86, 1, 3, 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'female', 33, '3101278', 15.85)
(89, 1, 1, 'Fortune, Miss. Mabel Helen', 'female', 23, '19950', 263.0)
(99, 1, 2, 'Doling, Mrs. John T (Ada Julia Bone)', 'female', 34, '231919', 0.0)
(107, 1, 3, 'Salkjelsvik, Miss. Anna Kristine', 'female', 21, '343120', 7.65)
(110, 1, 3, 'Moran, Miss. Bertha', 'female', '', '371110', 0.0)
(124, 1, 2, 'Webber, Miss. Susan', 'female', 32.5, '27267', 13.0)
(129, 1, 3, 'Peter, Miss. Anna', 'female', '', '2668', 0.0)
(134, 1, 2, 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)', 'female', 29, '228414', 0.0)
(137, 1, 1, 'Newsom, Miss. Helen Monypeny', 'female', 19, '11752', 0.0)
(142, 1, 3, 'Nysten, Miss. Anna Sofia', 'female', 22, '347081', 7.75)
(143, 1, 3, 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)', 'female', 24, 'STON/O2. 3101279', 15.85)
(152, 1, 1, 'Pears, Mrs. Thomas (Edith Wearne)', 'female', 22, '113776', 66.6)
(157, 1, 3, 'Gilnagh, Miss. Katherine "Katie"', 'female', 16, '35851', 7.7333)
(162, 1, 2, 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)', 'female', 40, 'C.A. 33595', 15.75)
(167, 1, 1, 'Chibnall, Mrs. (Edith Martha Bowerman)', 'female', '', '113505', 55.0)
(173, 1, 3, 'Johnson, Miss. Eleanor Ileen', 'female', 1, '347742', 11.1333)
(185, 1, 3, 'Kink-Heilmann, Miss. Luise Gretchen', 'female', 4, '315153', 0.0)
(187, 1, 3, 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)', 'female', '', '370365', 15.5)
(191, 1, 2, 'Pinsky, Mrs. (Rosa)', 'female', 32, '234604', 13.0)
(193, 1, 3, 'Andersen-Jensen, Miss. Carla Christine Nielsine', 'female', 19, '350046', 7.8542)
(195, 1, 1, 'Brown, Mrs. James Joseph (Margaret Tobin)', 'female', 44, 'PC 17610', 0.0)
(196, 1, 1, 'Lurette, Miss. Elise', 'female', 58, 'PC 17569', 146.5208)
(199, 1, 3, 'Madigan, Miss. Margaret "Maggie"', 'female', '', '370370', 7.75)
(209, 1, 3, 'Carr, Miss. Helen "Ellen"', 'female', 16, '367231', 7.75)
(212, 1, 2, 'Cameron, Miss. Clear Annie', 'female', 35, 'F.C.C. 13528', 0.0)
(216, 1, 1, 'Newell, Miss. Madeleine', 'female', 31, '35273', 113.275)
(217, 1, 3, 'Honkanen, Miss. Eliina', 'female', 27, 'STON/O2. 3101283', 7.925)
(219, 1, 1, 'Bazzani, Miss. Albina', 'female', 32, '11813', 76.2917)
(231, 1, 1, 'Harris, Mrs. Henry Birkhardt (Irene Wallach)', 'female', 35, '36973', 83.475)
(234, 1, 3, 'Asplund, Miss. Lillian Gertrud', 'female', 5, '347077', 31.3875)
(238, 1, 2, 'Collyer, Miss. Marjorie "Lottie"', 'female', 8, 'C.A. 31921', 0.0)
(242, 1, 3, 'Murphy, Miss. Katherine "Kate"', 'female', '', '367230', 15.5)
(248, 1, 2, 'Hamalainen, Mrs. William (Anna)', 'female', 24, '250649', 14.5)
(256, 1, 3, 'Touma, Mrs. Darwis (Hanne Youssef Razi)', 'female', 29, '2650', 15.2458)
(257, 1, 1, 'Thorne, Mrs. Gertrude Maybelle', 'female', '', 'PC 17585', 79.2)
(258, 1, 1, 'Cherry, Miss. Gladys', 'female', 30, '110152', 86.5)
(259, 1, 1, 'Ward, Miss. Anna', 'female', 35, 'PC 17755', 512.3292)
(260, 1, 2, 'Parrish, Mrs. (Lutie Davis)', 'female', 50, '230433', 0.0)
(269, 1, 1, 'Graham, Mrs. William Thompson (Edith Junkins)', 'female', 58, 'PC 17582', 153.4625)
(270, 1, 1, 'Bissette, Miss. Amelia', 'female', 35, 'PC 17760', 135.6333)
(273, 1, 2, 'Mellinger, Mrs. (Elizabeth Anne Maidment)', 'female', 41, '250644', 19.5)
(275, 1, 3, 'Healy, Miss. Hanora "Nora"', 'female', '', '370375', 7.75)
(276, 1, 1, 'Andrews, Miss. Kornelia Theodosia', 'female', 63, '13502', 77.9583)
(280, 1, 3, 'Abbott, Mrs. Stanton (Rosa Hunt)', 'female', 35, 'C.A. 2673', 0.0)
(290, 1, 3, 'Connolly, Miss. Kate', 'female', 22, '370373', 7.75)
(291, 1, 1, 'Barber, Miss. Ellen "Nellie"', 'female', 26, '19877', 78.85)
(292, 1, 1, 'Bishop, Mrs. Dickinson H (Helen Walton)', 'female', 19, '11967', 91.0792)
(300, 1, 1, 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)', 'female', 50, 'PC 17558', 247.5208)
(301, 1, 3, 'Kelly, Miss. Anna Katherine "Annie Kate"', 'female', '', '9234', 7.75)
(304, 1, 2, 'Keane, Miss. Nora A', 'female', '', '226593', 12.35)
(307, 1, 1, 'Fleming, Miss. Margaret', 'female', '', '17421', 110.8833)
(308, 1, 1, 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)', 'female', 17, 'PC 17758', 108.9)
(310, 1, 1, 'Francatelli, Miss. Laura Mabel', 'female', 30, 'PC 17485', 56.9292)
(311, 1, 1, 'Hays, Miss. Margaret Bechstein', 'female', 24, '11767', 83.1583)
(312, 1, 1, 'Ryerson, Miss. Emily Borie', 'female', 18, 'PC 17608', 262.375)
(316, 1, 3, 'Nilsson, Miss. Helmina Josefina', 'female', 26, '347470', 7.8542)
(317, 1, 2, 'Kantor, Mrs. Sinai (Miriam Sternin)', 'female', 24, '244367', 0.0)
(319, 1, 1, 'Wick, Miss. Mary Natalie', 'female', 31, '36928', 164.8667)
(320, 1, 1, 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)', 'female', 40, '16966', 134.5)
(323, 1, 2, 'Slayter, Miss. Hilda Mary', 'female', 30, '234818', 12.35)
(324, 1, 2, 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)', 'female', 22, '248738', 0.0)
(326, 1, 1, 'Young, Miss. Marie Grice', 'female', 36, 'PC 17760', 135.6333)
(328, 1, 2, 'Ball, Mrs. (Ada E Hall)', 'female', 36, '28551', 13.0)
(329, 1, 3, 'Goldsmith, Mrs. Frank John (Emily Alice Brown)', 'female', 31, '363291', 0.0)
(330, 1, 1, 'Hippach, Miss. Jean Gertrude', 'female', 16, '111361', 57.9792)
(331, 1, 3, 'McCoy, Miss. Agnes', 'female', '', '367226', 0.0)
(335, 1, 1, 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)', 'female', '', 'PC 17611', 133.65)
(338, 1, 1, 'Burns, Miss. Elizabeth Margaret', 'female', 41, '16966', 134.5)
(342, 1, 1, 'Fortune, Miss. Alice Elizabeth', 'female', 24, '19950', 263.0)
(346, 1, 2, 'Brown, Miss. Amelia "Mildred"', 'female', 24, '248733', 13.0)
(347, 1, 2, 'Smith, Miss. Marion Elsie', 'female', 40, '31418', 13.0)
(348, 1, 3, 'Davison, Mrs. Thomas Henry (Mary E Finck)', 'female', '', '386525', 16.1)
(357, 1, 1, 'Bowerman, Miss. Elsie Edith', 'female', 22, '113505', 55.0)
(359, 1, 3, 'McGovern, Miss. Mary', 'female', '', '330931', 7.8792)
(360, 1, 3, 'Mockler, Miss. Helen Mary "Ellie"', 'female', '', '330980', 7.8792)
(367, 1, 1, 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)', 'female', 60, '110813', 75.25)
(368, 1, 3, 'Moussa, Mrs. (Mantoura Boulos)', 'female', '', '2626', 7.2292)
(369, 1, 3, 'Jermyn, Miss. Annie', 'female', '', '14313', 7.75)
(370, 1, 1, 'Aubart, Mme. Leontine Pauline', 'female', 24, 'PC 17477', 69.3)
(376, 1, 1, 'Meyer, Mrs. Edgar Joseph (Leila Saks)', 'female', '', 'PC 17604', 82.1708)
(377, 1, 3, 'Landergren, Miss. Aurora Adelia', 'female', 22, 'C 7077', 7.25)
(381, 1, 1, 'Bidois, Miss. Rosalie', 'female', 42, 'PC 17757', 227.525)
(382, 1, 3, 'Nakid, Miss. Maria ("Mary")', 'female', 1, '2653', 15.7417)
(384, 1, 1, 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)', 'female', 35, '113789', 52.0)
(388, 1, 2, 'Buss, Miss. Kate', 'female', 36, '27849', 13.0)
(390, 1, 2, 'Lehmann, Miss. Bertha', 'female', 17, 'SC 1748', 12.0)
(394, 1, 1, 'Newell, Miss. Marjorie', 'female', 23, '35273', 113.275)
(395, 1, 3, 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)', 'female', 24, 'PP 9549', 16.7)
(400, 1, 2, 'Trout, Mrs. William H (Jessie L)', 'female', 28, '240929', 12.65)
(413, 1, 1, 'Minahan, Miss. Daisy E', 'female', 33, '19928', 90.0)
(417, 1, 2, 'Drew, Mrs. James Vivian (Lulu Thorne Christian)', 'female', 34, '28220', 32.5)
(418, 1, 2, 'Silven, Miss. Lyyli Karoliina', 'female', 18, '250652', 13.0)
(427, 1, 2, 'Clarke, Mrs. Charles V (Ada Maria Winfield)', 'female', 28, '2003', 0.0)
(428, 1, 2, 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")', 'female', 19, '250655', 0.0)
(432, 1, 3, 'Thorneycroft, Mrs. Percival (Florence Kate White)', 'female', '', '376564', 16.1)
(433, 1, 2, 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)', 'female', 42, 'SC/AH 3085', 0.0)
(436, 1, 1, 'Carter, Miss. Lucile Polk', 'female', 14, '113760', 120.0)
(438, 1, 2, 'Richards, Mrs. Sidney (Emily Hocking)', 'female', 24, '29106', 18.75)
(441, 1, 2, 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)', 'female', 45, 'F.C.C. 13529', 0.0)
(444, 1, 2, 'Reynaldo, Ms. Encarnacion', 'female', 28, '230434', 13.0)
(447, 1, 2, 'Mellinger, Miss. Madeleine Violet', 'female', 13, '250644', 19.5)
(449, 1, 3, 'Baclini, Miss. Marie Catherine', 'female', 5, '2666', 19.2583)
(458, 1, 1, 'Kenyon, Mrs. Frederick R (Marion)', 'female', '', '17464', 51.8625)
(459, 1, 2, 'Toomey, Miss. Ellen', 'female', 50, 'F.C.C. 13531', 10.5)
(470, 1, 3, 'Baclini, Miss. Helene Barbara', 'female', 0.75, '2666', 19.2583)
(473, 1, 2, 'West, Mrs. Edwy Arthur (Ada Mary Worth)', 'female', 33, 'C.A. 34651', 0.0)
(474, 1, 2, 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)', 'female', 23, 'SC/AH Basle 541', 13.7917)
(480, 1, 3, 'Hirvonen, Miss. Hildur E', 'female', 2, '3101298', 12.2875)
(484, 1, 3, 'Turkula, Mrs. (Hedwig)', 'female', 63, '4134', 9.5875)

(487, 1, 1, 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)', 'female', 35, '19943', 90.0)
(497, 1, 1, 'Eustis, Miss. Elizabeth Mussey', 'female', 54, '36947', 78.2667)
(505, 1, 1, 'Maioni, Miss. Roberta', 'female', 16, '110152', 86.5)
(507, 1, 2, 'Quick, Mrs. Frederick Charles (Jane Richards)', 'female', 33, '26360', 0.0)
(514, 1, 1, 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)', 'female', 54, 'PC 17603', 59.4)
(517, 1, 2, 'Lemore, Mrs. (Amelia Milley)', 'female', 34, 'C.A. 34260', 10.5)
(519, 1, 2, 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)', 'female', 36, '226875', 0.0)
(521, 1, 1, 'Perreault, Miss. Anne', 'female', 30, '12749', 93.5)
(524, 1, 1, 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)', 'female', 44, '111361', 57.9792)
(527, 1, 2, 'Ridsdale, Miss. Lucy', 'female', 50, 'W./C. 14258', 10.5)
(531, 1, 2, 'Quick, Miss. Phyllis May', 'female', 2, '26360', 0.0)
(534, 1, 3, 'Peter, Mrs. Catherine (Catherine Rizk)', 'female', '', '2668', 0.0)
(536, 1, 2, 'Hart, Miss. Eva Miriam', 'female', 7, 'F.C.C. 13529', 0.0)
(538, 1, 1, 'LeRoy, Miss. Bertha', 'female', 30, 'PC 17761', 106.425)
(540, 1, 1, 'Frolicher, Miss. Hedwig Margaritha', 'female', 22, '13568', 49.5)
(541, 1, 1, 'Crosby, Miss. Harriet R', 'female', 36, 'WE/P 5735', 71.0)
(547, 1, 2, 'Beane, Mrs. Edward (Ethel Clarke)', 'female', 19, '2908', 0.0)
(555, 1, 3, 'Ohman, Miss. Velin', 'female', 22, '347085', 7.775)
(557, 1, 1, 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")', 'female', 48, '11755', 39.6)
(559, 1, 1, 'Taussig, Mrs. Emil (Tillie Mandelbaum)', 'female', 39, '110413', 79.65)
(560, 1, 3, 'de Messemaeker, Mrs. Guillaume Joseph (Emma)', 'female', 36, '345572', 17.4)
(572, 1, 1, 'Appleton, Mrs. Edward Dale (Charlotte Lamson)', 'female', 53, '11769', 51.4792)
(574, 1, 3, 'Kelly, Miss. Mary', 'female', '', '14312', 7.75)
(577, 1, 2, 'Garside, Miss. Ethel', 'female', 34, '243880', 13.0)
(578, 1, 1, 'Silvey, Mrs. William Baird (Alice Munger)', 'female', 39, '13507', 55.9)
(581, 1, 2, 'Christy, Miss. Julie Rachel', 'female', 25, '237789', 30.0)
(582, 1, 1, 'Thayer, Mrs. John Borland (Marian Longstreth Morris)', 'female', 39, '17421', 110.8833)
(586, 1, 1, 'Taussig, Miss. Ruth', 'female', 18, '110413', 79.65)
(592, 1, 1, 'Stephenson, Mrs. Walter Bertram (Martha Eustis)', 'female', 52, '36947', 78.2667)
(597, 1, 2, 'Leitch, Miss. Jessie Wills', 'female', '', '248727', 33.0)
(601, 1, 2, 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)', 'female', 24, '243847', 0.0)
(609, 1, 2, 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)', 'female', 22, 'SC/Paris 2123', 41.5792)
(610, 1, 1, 'Shutes, Miss. Elizabeth W', 'female', 40, 'PC 17582', 153.4625)
(613, 1, 3, 'Murphy, Miss. Margaret Jane', 'female', '', '367230', 15.5)
(616, 1, 2, 'Herman, Miss. Alice', 'female', 24, '220845', 65.0)
(619, 1, 2, 'Becker, Miss. Marion Louise', 'female', 4, '230136', 39.0)
(628, 1, 1, 'Longley, Miss. Gretchen Fiske', 'female', 21, '13502', 77.9583)
(636, 1, 2, 'Davis, Miss. Mary', 'female', 28, '237668', 13.0)
(642, 1, 1, 'Sagesser, Mlle. Emma', 'female', 24, 'PC 17477', 69.3)
(645, 1, 3, 'Baclini, Miss. Eugenie', 'female', 0.75, '2666', 19.2583)
(650, 1, 3, 'Stanley, Miss. Amy Zillah Elsie', 'female', 23, 'CA. 2314', 7.55)
(652, 1, 2, 'Doling, Miss. Elsie', 'female', 18, '231919', 0.0)
(654, 1, 3, 'O\'Leary, Miss. Hanora "Norah"', 'female', '', '330919', 7.8292)
(670, 1, 1, 'Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)', 'female', '', '19996', 52.0)
(671, 1, 2, 'Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)', 'female', 40, '29750', 39.0)
(678, 1, 3, 'Turja, Miss. Anna Sofia', 'female', 18, '4138', 9.8417)
(690, 1, 1, 'Madill, Miss. Georgette Alexandra', 'female', 15, '24160', 211.3375)
(692, 1, 3, 'Karun, Miss. Manca', 'female', 4, '349256', 13.4167)
(698, 1, 3, 'Mullens, Miss. Katherine "Katie"', 'female', '', '35852', 7.7333)
(701, 1, 1, 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)', 'female', 18, 'PC 17757', 227.525)
(707, 1, 2, 'Kelly, Mrs. Florence "Fannie"', 'female', 45, '223596', 13.5)
(709, 1, 1, 'Cleaver, Miss. Alice', 'female', 22, '113781', 151.55)
(711, 1, 1, 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")', 'female', 24, 'PC 17482', 49.5042)
(717, 1, 1, 'Endres, Miss. Caroline Louise', 'female', 38, 'PC 17757', 227.525)
(718, 1, 2, 'Troutt, Miss. Edwina Celia "Winnie"', 'female', 27, '34218', 10.5)
(721, 1, 2, 'Harper, Miss. Annie Jessie "Nina"', 'female', 6, '248727', 33.0)
(727, 1, 2, 'Renouf, Mrs. Peter Henry (Lillian Jefferys)', 'female', 30, '31027', 0.0)
(728, 1, 3, 'Mannion, Miss. Margareth', 'female', '', '36866', 7.7375)
(731, 1, 1, 'Allen, Miss. Elisabeth Walton', 'female', 29, '24160', 211.3375)
(743, 1, 1, 'Ryerson, Miss. Susan Parker "Suzette"', 'female', 21, 'PC 17608', 262.375)
(748, 1, 2, 'Sinkkonen, Miss. Anna', 'female', 30, '250648', 13.0)
(751, 1, 2, 'Wells, Miss. Joan', 'female', 4, '29103', 0.0)
(755, 1, 2, 'Herman, Mrs. Samuel (Jane Laver)', 'female', 48, '220845', 65.0)
(760, 1, 1, 'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)', 'female', 33, '110152', 86.5)
(764, 1, 1, 'Carter, Mrs. William Ernest (Lucile Polk)', 'female', 36, '113760', 120.0)
(766, 1, 1, 'Hogeboom, Mrs. John C (Anna Andrews)', 'female', 51, '13502', 77.9583)
(775, 1, 2, 'Hocking, Mrs. Elizabeth (Eliza Needs)', 'female', 54, '29105', 0.0)
(778, 1, 3, 'Emanuel, Miss. Virginia Ethel', 'female', 5, '364516', 12.475)
(780, 1, 1, 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)', 'female', 43, '24160', 211.3375)
(781, 1, 3, 'Ayoub, Miss. Banoura', 'female', 13, '2687', 7.2292)
(782, 1, 1, 'Dick, Mrs. Albert Adrian (Vera Gillespie)', 'female', 17, '17474', 57.0)
(787, 1, 3, 'Sjoblom, Miss. Anna Sofia', 'female', 18, '3101265', 7.4958)
(797, 1, 1, 'Leader, Dr. Alice (Farnham)', 'female', 49, '17465', 0.0)
(798, 1, 3, 'Osman, Mrs. Mara', 'female', 31, '349244', 8.6833)
(802, 1, 2, 'Collyer, Mrs. Harvey (Charlotte Annie Tate)', 'female', 31, 'C.A. 31921', 0.0)
(810, 1, 1, 'Chambers, Mrs. Norman Campbell (Bertha Griggs)', 'female', 33, '113806', 53.1)
(821, 1, 1, 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)', 'female', 52, '12749', 93.5)
(824, 1, 3, 'Moor, Mrs. (Beila)', 'female', 27, '392096', 12.475)
(830, 1, 1, 'Stone, Mrs. George Nelson (Martha Evelyn)', 'female', 62, '113572', 80.0)
(831, 1, 3, 'Yasbeck, Mrs. Antoni (Selini Alexander)', 'female', 15, '2659', 14.4542)
(836, 1, 1, 'Compton, Miss. Sara Rebecca', 'female', 39, 'PC 17756', 83.1583)
(843, 1, 1, 'Serepeca, Miss. Augusta', 'female', 30, '113798', 31.0)
(850, 1, 1, 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)', 'female', '', '17453', 89.1042)
(854, 1, 1, 'Lines, Miss. Mary Conover', 'female', 16, 'PC 17592', 39.4)
(856, 1, 3, 'Aks, Mrs. Sam (Leah Rosen)', 'female', 18, '392091', 9.35)
(857, 1, 1, 'Wick, Mrs. George Dennick (Mary Hitchcock)', 'female', 45, '36928', 164.8667)
(859, 1, 3, 'Baclini, Mrs. Solomon (Latifa Qurban)', 'female', 24, '2666', 19.2583)
(863, 1, 1, 'Swift, Mrs. Frederick Joel (Margaret Welles Barron)', 'female', 48, '17466', 0.0)
(866, 1, 2, 'Bystrom, Mrs. (Karolina)', 'female', 42, '236852', 13.0)
(867, 1, 2, 'Duran y More, Miss. Asuncion', 'female', 27, 'SC/PARIS 2149', 13.8583)
(872, 1, 1, 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)', 'female', 47, '11751', 52.5542)
(875, 1, 2, 'Abelson, Mrs. Samuel (Hannah Wizosky)', 'female', 28, 'P/PP 3381', 0.0)
(876, 1, 3, 'Najib, Miss. Adele Kiamie "Jane"', 'female', 15, '2667', 7.225)
(880, 1, 1, 'Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)', 'female', 56, '11767', 83.1583)
(881, 1, 2, 'Shelley, Mrs. William (Imanita Parrish Hall)', 'female', 25, '230433', 0.0)
(888, 1, 1, 'Graham, Miss. Margaret Edith', 'female', 19, '112053', 30.0)

In [14]:
# Query 3
print('Query 3 output')
# Write code here
result = cur.execute("SELECT * FROM titanic_dataset WHERE (Survived is 0) AND (Age < 25) ORDER BY AGE ASC")
for row in result:
    print(row)

Query 3 output
(165, 0, 3, 'Panula, Master. Eino Viljami', 'male', 1, '3101295', 39.6875)
(387, 0, 3, 'Goodwin, Master. Sidney Leonard', 'male', 1, 'CA 2144', 46.9)
(8, 0, 3, 'Palsson, Master. Gosta Leonard', 'male', 2, '349909', 0.0)
(17, 0, 3, 'Rice, Master. Eugene', 'male', 2, '382652', 0.0)
(120, 0, 3, 'Andersson, Miss. Ellis Anna Maria', 'female', 2, '347082', 31.275)
(206, 0, 3, 'Strom, Miss. Telma Matilda', 'female', 2, '347054', 10.4625)
(298, 0, 1, 'Allison, Miss. Helen Loraine', 'female', 2, '113781', 151.55)
(643, 0, 3, 'Skoog, Miss. Margit Elizabeth', 'female', 2, '347088', 0.0)
(825, 0, 3, 'Panula, Master. Urho Abraham', 'male', 2, '3101295', 39.6875)
(375, 0, 3, 'Palsson, Miss. Stina Viola', 'female', 3, '349909', 0.0)
(64, 0, 3, 'Skoog, Master. Harald', 'male', 4, '347088', 0.0)
(172, 0, 3, 'Rice, Master. Arthur', 'male', 4, '382652', 0.0)
(851, 0, 3, 'Andersson, Master. Sigvard Harald Elias', 'male', 4, '347082', 31.275)
(814, 0, 3, 'Andersson, Miss. Ebba Iris Alfrida', 'female', 6, '347082', 31.275)
(51, 0, 3, 'Panula, Master. Juha Niilo', 'male', 7, '3101295', 39.6875)
(279, 0, 3, 'Rice, Master. Eric', 'male', 7, '382652', 0.0)
(25, 0, 3, 'Palsson, Miss. Torborg Danira', 'female', 8, '349909', 0.0)
(788, 0, 3, 'Rice, Master. George Hugh', 'male', 8, '382652', 0.0)
(148, 0, 3, 'Ford, Miss. Robina Maggie "Ruby"', 'female', 9, 'W./C. 6608', 34.375)
(183, 0, 3, 'Asplund, Master. Clarence Gustaf Hugo', 'male', 9, '347077', 31.3875)
(481, 0, 3, 'Goodwin, Master. Harold Victor', 'male', 9, 'CA 2144', 46.9)
(542, 0, 3, 'Andersson, Miss. Ingeborg Constanzia', 'female', 9, '347082', 31.275)
(635, 0, 3, 'Skoog, Miss. Mabel', 'female', 9, '347088', 0.0)
(853, 0, 3, 'Boulos, Miss. Nourelain', 'female', 9, '2678', 15.2458)
(420, 0, 3, 'Van Impe, Miss. Catharina', 'female', 10, '345773', 0.0)
(820, 0, 3, 'Skoog, Master. Karl Thorsten', 'male', 10, '347088', 0.0)
(60, 0, 3, 'Goodwin, Master. William Frederick', 'male', 11, 'CA 2144', 46.9)
(543, 0, 3, 'Andersson, Miss. Sigrid Elisabeth', 'female', 11, '347082', 31.275)
(732, 0, 3, 'Hassan, Mr. Houssein G N', 'male', 11, '2699', 18.7875)
(15, 0, 3, 'Vestrom, Miss. Hulda Amanda Adolfina', 'female', 14, '350406', 7.8542)
(684, 0, 3, 'Goodwin, Mr. Charles Edward', 'male', 14, 'CA 2144', 46.9)
(687, 0, 3, 'Panula, Mr. Jaako Arnold', 'male', 14, '3101295', 39.6875)
(112, 0, 3, 'Zabour, Miss. Hileni', 'female', 14.5, '2665', 14.4542)
(353, 0, 3, 'Elias, Mr. Tannous', 'male', 15, '2695', 7.2292)
(72, 0, 3, 'Goodwin, Miss. Lillian Amy', 'female', 16, 'CA 2144', 46.9)
(87, 0, 3, 'Ford, Mr. William Neal', 'male', 16, 'W./C. 6608', 34.375)
(139, 0, 3, 'Osen, Mr. Olaf Elon', 'male', 16, '7534', 9.2167)
(267, 0, 3, 'Panula, Mr. Ernesti Arvid', 'male', 16, '3101295', 39.6875)
(283, 0, 3, 'de Pelsmaeker, Mr. Alfons', 'male', 16, '345778', 9.5)
(334, 0, 3, 'Vander Planke, Mr. Leo Edmondus', 'male', 16, '345764', 18.0)
(575, 0, 3, 'Rush, Mr. Alfred George John', 'male', 16, 'A/4. 20589', 8.05)
(747, 0, 3, 'Abbott, Mr. Rossmore Edward', 'male', 16, 'C.A. 2673', 0.0)
(765, 0, 3, 'Eklund, Mr. Hans Linus', 'male', 16, '347074', 7.775)
(792, 0, 2, 'Gaskell, Mr. Alfred', 'male', 16, '239865', 0.0)
(842, 0, 2, 'Mudd, Mr. Thomas Charles', 'male', 16, 'S.O./P.P. 3', 10.5)
(115, 0, 3, 'Attalah, Miss. Malake', 'female', 17, '2627', 14.4583)
(164, 0, 3, 'Calic, Mr. Jovo', 'male', 17, '315093', 8.6625)
(434, 0, 3, 'Kallio, Mr. Nikolai Erland', 'male', 17, 'STON/O 2. 3101274', 7.125)
(501, 0, 3, 'Calic, Mr. Petar', 'male', 17, '315086', 8.6625)
(533, 0, 3, 'Elias, Mr. Joseph Jr', 'male', 17, '2690', 7.2292)
(722, 0, 3, 'Jensen, Mr. Svend Lauritz', 'male', 17, '350048', 7.0542)
(845, 0, 3, 'Culumovic, Mr. Jeso', 'male', 17, '315090', 8.6625)
(39, 0, 3, 'Vander Planke, Miss. Augusta Maria', 'female', 18, '345764', 18.0)
(50, 0, 3, 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)', 'female', 18, '349237', 17.8)
(145, 0, 2, 'Andrew, Mr. Edgardo Samuel', 'male', 18, '231945', 11.5)
(176, 0, 3, 'Klasen, Mr. Klas Albin', 'male', 18, '350404', 7.8542)
(229, 0, 2, 'Fahlstrom, Mr. Arne Jonas', 'male', 18, '236171', 13.0)
(372, 0, 3, 'Wiklund, Mr. Jakob Alfred', 'male', 18, '3101267', 6.4958)
(386, 0, 2, 'Davies, Mr. Charles Henry', 'male', 18, 'S.O.C. 14879', 73.5)
(425, 0, 3, 'Rosblom, Mr. Viktor Richard', 'male', 18, '370129', 0.0)
(506, 0, 1, 'Penasco y Castellana, Mr. Victor de Satode', 'male', 18, 'PC 17758', 108.9)
(655, 0, 3, 'Hegarty, Miss. Hanora "Nora"', 'female', 18, '365226', 6.75)
(676, 0, 3, 'Edvardsson, Mr. Gustaf Hjalmar', 'male', 18, '349912', 7.775)
(689, 0, 3, 'Fischer, Mr. Eberhard Thelander', 'male', 18, '350036', 7.7958)
(703, 0, 3, 'Barbara, Miss. Saiide', 'female', 18, '2691', 14.4542)
(758, 0, 2, 'Bailey, Mr. Percy Andrew', 'male', 18, '29108', 11.5)
(776, 0, 3, 'Myhrman, Mr. Pehr Fabian Oliver Malkolm', 'male', 18, '347078', 7.75)
(808, 0, 3, 'Pettersson, Miss. Ellen Natalia', 'female', 18, '347087', 7.775)
(835, 0, 3, 'Allum, Mr. Owen George', 'male', 18, '2223', 8.3)
(28, 0, 1, 'Fortune, Mr. Charles Alexander', 'male', 19, '19950', 263.0)
(68, 0, 3, 'Crease, Mr. Ernest James', 'male', 19, 'S.P. 3464', 8.1583)
(144, 0, 3, 'Burke, Mr. Jeremiah', 'male', 19, '365222', 6.75)
(146, 0, 2, 'Nicholls, Mr. Joseph Charles', 'male', 19, 'C.A. 33112', 36.75)
(192, 0, 2, 'Carbines, Mr. William', 'male', 19, '28424', 13.0)
(239, 0, 2, 'Pengelly, Mr. Frederick William', 'male', 19, '28665', 10.5)
(303, 0, 3, 'Johnson, Mr. William Cahoone Jr', 'male', 19, 'LINE', 0.0)
(373, 0, 3, 'Beavan, Mr. William Thomas', 'male', 19, '323951', 8.05)
(380, 0, 3, 'Gustafsson, Mr. Karl Gideon', 'male', 19, '347069', 7.775)
(567, 0, 3, 'Stoytcheff, Mr. Ilia', 'male', 19, '349205', 7.8958)
(576, 0, 3, 'Patchett, Mr. George', 'male', 19, '358585', 14.5)
(647, 0, 3, 'Cor, Mr. Liudevit', 'male', 19, '349231', 7.8958)
(688, 0, 3, 'Dakic, Mr. Branko', 'male', 19, '349228', 10.1708)
(716, 0, 3, 'Soholt, Mr. Peter Andreas Lauritz Andersen', 'male', 19, '348124', 7.65)
(749, 0, 1, 'Marvin, Mr. Daniel Warner', 'male', 19, '113773', 53.1)
(878, 0, 3, 'Petroff, Mr. Nedelio', 'male', 19, '349212', 7.8958)
(13, 0, 3, 'Saundercock, Mr. William Henry', 'male', 20, 'A/5. 2151', 8.05)
(92, 0, 3, 'Andreasson, Mr. Paul Edvin', 'male', 20, '347466', 7.8542)
(114, 0, 3, 'Jussila, Miss. Katriina', 'female', 20, '4136', 9.825)
(132, 0, 3, 'Coelho, Mr. Domingos Fernandeo', 'male', 20, 'SOTON/O.Q. 3101307', 7.05)
(379, 0, 3, 'Betros, Mr. Tannous', 'male', 20, '2648', 4.0125)
(405, 0, 3, 'Oreskovic, Miss. Marija', 'female', 20, '315096', 8.6625)
(442, 0, 3, 'Hampe, Mr. Leon', 'male', 20, '345769', 9.5)
(641, 0, 3, 'Jensen, Mr. Hans Peder', 'male', 20, '350050', 7.8542)
(683, 0, 3, 'Olsvigen, Mr. Thor Anderson', 'male', 20, '6563', 9.225)
(726, 0, 3, 'Oreskovic, Mr. Luka', 'male', 20, '315094', 8.6625)
(841, 0, 3, 'Alhomaki, Mr. Ilmari Rudolf', 'male', 20, 'SOTON/O2 3101287', 7.925)
(877, 0, 3, 'Gustafsson, Mr. Alfred Ossian', 'male', 20, '7534', 9.8458)
(228, 0, 3, 'Lovell, Mr. John Hall ("Henry")', 'male', 20.5, 'A/5 21173', 7.25)
(38, 0, 3, 'Cann, Mr. Ernest Charles', 'male', 21, 'A./5. 2152', 8.05)
(52, 0, 3, 'Nosworthy, Mr. Richard Cater', 'male', 21, 'A/4. 39886', 7.8)
(73, 0, 2, 'Hood, Mr. Ambrose Jr', 'male', 21, 'S.O.C. 14879', 73.5)
(103, 0, 1, 'White, Mr. Richard Frasar', 'male', 21, '35281', 77.2875)
(116, 0, 3, 'Pekoniemi, Mr. Edvard', 'male', 21, 'STON/O 2. 3101294', 7.925)
(121, 0, 2, 'Hickman, Mr. Stanley George', 'male', 21, 'S.O.C. 14879', 73.5)
(174, 0, 3, 'Sivola, Mr. Antti Wilhelm', 'male', 21, 'STON/O 2. 3101280', 7.925)
(403, 0, 3, 'Jussila, Miss. Mari Aina', 'female', 21, '4137', 9.825)
(409, 0, 3, 'Birkeland, Mr. Hans Martin Monsen', 'male', 21, '312992', 7.775)
(422, 0, 3, 'Charters, Mr. David', 'male', 21, 'A/5. 13032', 7.7333)
(437, 0, 3, 'Ford, Miss. Doolina Margaret "Daisy"', 'female', 21, 'W./C. 6608', 34.375)
(492, 0, 3, 'Windelov, Mr. Einar', 'male', 21, 'SOTON/OQ 3101317', 7.25)
(495, 0, 3, 'Stanley, Mr. Edward Roland', 'male', 21, 'A/4 45380', 8.05)
(502, 0, 3, 'Canavan, Miss. Mary', 'female', 21, '364846', 7.75)
(624, 0, 3, 'Hansen, Mr. Henry Damsgaard', 'male', 21, '350029', 7.8542)
(625, 0, 3, 'Bowen, Mr. David John "Dai"', 'male', 21, '54636', 16.1)
(653, 0, 3, 'Kalvik, Mr. Johannes Halvorsen', 'male', 21, '8475', 8.4333)
(837, 0, 3, 'Pasic, Mr. Jakob', 'male', 21, '315097', 8.6625)
(862, 0, 2, 'Giles, Mr. Frederick Edward', 'male', 21, '28134', 11.5)
(1, 0, 3, 'Braund, Mr. Owen Harris', 'male', 22, 'A/5 21171', 7.25)
(61, 0, 3, 'Sirayanian, Mr. Orsen', 'male', 22, '2669', 7.2292)
(81, 0, 3, 'Waelens, Mr. Achille', 'male', 22, '345767', 9.0)
(113, 0, 3, 'Barton, Mr. David John', 'male', 22, '324669', 8.05)
(213, 0, 3, 'Perkin, Mr. John Henry', 'male', 22, 'A/5 21174', 7.25)
(226, 0, 3, 'Berglund, Mr. Karl Ivar Sven', 'male', 22, 'PP 4348', 9.35)
(244, 0, 3, 'Maenpaa, Mr. Matti Alexanteri', 'male', 22, 'STON/O 2. 3101275', 7.125)
(288, 0, 3, 'Naidenoff, Mr. Penko', 'male', 22, '349206', 7.8958)
(321, 0, 3, 'Dennis, Mr. Samuel', 'male', 22, 'A/5 21172', 7.25)
(374, 0, 1, 'Ringhini, Mr. Sante', 'male', 22, 'PC 17760', 135.6333)
(396, 0, 3, 'Johansson, Mr. Erik', 'male', 22, '350052', 7.7958)
(475, 0, 3, 'Strandberg, Miss. Ida Sofia', 'female', 22, '7553', 9.8375)
(479, 0, 3, 'Karlsson, Mr. Nils August', 'male', 22, '350060', 7.5208)
(522, 0, 3, 'Vovk, Mr. Janko', 'male', 22, '349252', 7.8958)
(589, 0, 3, 'Gilinski, Mr. Eliezer', 'male', 22, '14973', 8.05)
(883, 0, 3, 'Dahlberg, Miss. Gerda Ulrika', 'female', 22, '7552', 10.5167)
(136, 0, 2, 'Richard, Mr. Emile', 'male', 23, 'SC/PARIS 2133', 15.0458)
(351, 0, 3, 'Odahl, Mr. Nils Martin', 'male', 23, '7267', 9.225)
(399, 0, 2, 'Pain, Dr. Alfred', 'male', 23, '244278', 10.5)
(530, 0, 2, 'Hocking, Mr. Richard George', 'male', 23, '29104', 11.5)
(659, 0, 2, 'Eitemiller, Mr. George Floyd', 'male', 23, '29751', 13.0)
(734, 0, 2, 'Berriman, Mr. William John', 'male', 23, '28425', 13.0)
(735, 0, 2, 'Troupiansky, Mr. Moses Aaron', 'male', 23, '233639', 13.0)
(754, 0, 3, 'Jonkoff, Mr. Lalio', 'male', 23, '349204', 7.8958)
(817, 0, 3, 'Heininen, Miss. Wendla Maria', 'female', 23, 'STON/O2. 3101290', 7.925)
(834, 0, 3, 'Augustsson, Mr. Albert', 'male', 23, '347468', 7.8542)
(297, 0, 3, 'Hanna, Mr. Mansour', 'male', 23.5, '2693', 7.2292)
(90, 0, 3, 'Celotti, Mr. Francesco', 'male', 24, '343275', 8.05)
(119, 0, 1, 'Baxter, Mr. Quigg Edmond', 'male', 24, 'PC 17558', 247.5208)
(140, 0, 1, 'Giglio, Mr. Victor', 'male', 24, 'PC 17593', 79.2)
(200, 0, 2, 'Yrois, Miss. Henriette ("Mrs Harbeck")', 'female', 24, '248747', 13.0)
(211, 0, 3, 'Ali, Mr. Ahmed', 'male', 24, 'SOTON/O.Q. 3101311', 7.05)
(235, 0, 2, 'Leyson, Mr. Robert William Norman', 'male', 24, 'C.A. 29566', 10.5)
(294, 0, 3, 'Haas, Miss. Aloisia', 'female', 24, '349236', 8.85)
(295, 0, 3, 'Mineff, Mr. Ivan', 'male', 24, '349233', 7.8958)
(500, 0, 3, 'Svensson, Mr. Olof', 'male', 24, '350035', 7.7958)
(515, 0, 3, 'Coleff, Mr. Satio', 'male', 24, '349209', 7.4958)
(566, 0, 3, 'Davies, Mr. Alfred J', 'male', 24, 'A/4 48871', 0.0)
(656, 0, 2, 'Hickman, Mr. Leonard Mark', 'male', 24, 'S.O.C. 14879', 73.5)
(744, 0, 3, 'McNamee, Mr. Neal', 'male', 24, '376566', 16.1)
(771, 0, 3, 'Lievens, Mr. Rene Aime', 'male', 24, '345781', 9.5)
(865, 0, 2, 'Gill, Mr. John William', 'male', 24, '233866', 13.0)
(677, 0, 3, 'Sawyer, Mr. Frederick Charles', 'male', 24.5, '342826', 8.05)

In [15]:
# Query 4
print('Query 4 output')
# Write code here
result = cur.execute("SELECT * FROM titanic_dataset ORDER BY Fare DESC LIMIT 1")
for row in result:
    print(row)

Query 4 output
(259, 1, 1, 'Ward, Miss. Anna', 'female', 35, 'PC 17755', 512.3292)

In [16]:
# Query 5
print('Query 5 output')
# Write code here
result = cur.execute("SELECT AVG(Fare) FROM titanic_dataset WHERE Fare != 0")
for row in result:
    res = row
    break


cur.execute("UPDATE titanic_dataset SET Fare = ? WHERE Fare is 0", res)

connection.commit()

result2 = cur.execute("SELECT * FROM titanic_dataset")

for row in result2:
    print(row)
cur.close()

Query 5 output
(1, 0, 3, 'Braund, Mr. Owen Harris', 'male', 22, 'A/5 21171', 7.25)
(2, 1, 1, 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', 38, 'PC 17599', 71.2833)
(3, 1, 3, 'Heikkinen, Miss. Laina', 'female', 26, 'STON/O2. 3101282', 7.925)
(4, 1, 1, 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', 35, '113803', 53.1)
(5, 0, 3, 'Allen, Mr. William Henry', 'male', 35, '373450', 8.05)
(6, 0, 3, 'Moran, Mr. James', 'male', '', '330877', 8.4583)
(7, 0, 1, 'McCarthy, Mr. Timothy J', 'male', 54, '17463', 51.8625)
(8, 0, 3, 'Palsson, Master. Gosta Leonard', 'male', 2, '349909', 34.11214999999993)
(9, 1, 3, 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', 27, '347742', 11.1333)
(10, 1, 2, 'Nasser, Mrs. Nicholas (Adele Achem)', 'female', 14, '237736', 30.0708)
(11, 1, 3, 'Sandstrom, Miss. Marguerite Rut', 'female', 4, 'PP 9549', 16.7)
(12, 1, 1, 'Bonnell, Miss. Elizabeth', 'female', 58, '113783', 34.11214999999993)
(13, 0, 3, 'Saundercock, Mr. William Henry', 'male', 20, 'A/5. 2151', 8.05)
(14, 0, 3, 'Andersson, Mr. Anders Johan', 'male', 39, '347082', 31.275)
(15, 0, 3, 'Vestrom, Miss. Hulda Amanda Adolfina', 'female', 14, '350406', 7.8542)
(16, 1, 2, 'Hewlett, Mrs. (Mary D Kingcome) ', 'female', 55, '248706', 16.0)
(17, 0, 3, 'Rice, Master. Eugene', 'male', 2, '382652', 34.11214999999993)
(18, 1, 2, 'Williams, Mr. Charles Eugene', 'male', '', '244373', 13.0)
(19, 0, 3, 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', 'female', 31, '345763', 18.0)
(20, 1, 3, 'Masselmani, Mrs. Fatima', 'female', '', '2649', 7.225)
(21, 0, 2, 'Fynney, Mr. Joseph J', 'male', 35, '239865', 34.11214999999993)
(22, 1, 2, 'Beesley, Mr. Lawrence', 'male', 34, '248698', 13.0)
(23, 1, 3, 'McGowan, Miss. Anna "Annie"', 'female', 15, '330923', 8.0292)
(24, 1, 1, 'Sloper, Mr. William Thompson', 'male', 28, '113788', 35.5)
(25, 0, 3, 'Palsson, Miss. Torborg Danira', 'female', 8, '349909', 34.11214999999993)
(26, 1, 3, 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'female', 38, '347077', 31.3875)
(27, 0, 3, 'Emir, Mr. Farred Chehab', 'male', '', '2631', 7.225)
(28, 0, 1, 'Fortune, Mr. Charles Alexander', 'male', 19, '19950', 263.0)
(29, 1, 3, 'O\'Dwyer, Miss. Ellen "Nellie"', 'female', '', '330959', 7.8792)
(30, 0, 3, 'Todoroff, Mr. Lalio', 'male', '', '349216', 7.8958)
(31, 0, 1, 'Uruchurtu, Don. Manuel E', 'male', 40, 'PC 17601', 34.11214999999993)
(32, 1, 1, 'Spencer, Mrs. William Augustus (Marie Eugenie)', 'female', '', 'PC 17569', 146.5208)
(33, 1, 3, 'Glynn, Miss. Mary Agatha', 'female', '', '335677', 7.75)
(34, 0, 2, 'Wheadon, Mr. Edward H', 'male', 66, 'C.A. 24579', 10.5)
(35, 0, 1, 'Meyer, Mr. Edgar Joseph', 'male', 28, 'PC 17604', 82.1708)
(36, 0, 1, 'Holverson, Mr. Alexander Oskar', 'male', 42, '113789', 52.0)
(37, 1, 3, 'Mamee, Mr. Hanna', 'male', '', '2677', 7.2292)
(38, 0, 3, 'Cann, Mr. Ernest Charles', 'male', 21, 'A./5. 2152', 8.05)
(39, 0, 3, 'Vander Planke, Miss. Augusta Maria', 'female', 18, '345764', 18.0)
(40, 1, 3, 'Nicola-Yarred, Miss. Jamila', 'female', 14, '2651', 11.2417)
(41, 0, 3, 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)', 'female', 40, '7546', 9.475)
(42, 0, 2, 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)', 'female', 27, '11668', 34.11214999999993)
(43, 0, 3, 'Kraeff, Mr. Theodor', 'male', '', '349253', 7.8958)
(44, 1, 2, 'Laroche, Miss. Simonne Marie Anne Andree', 'female', 3, 'SC/Paris 2123', 41.5792)
(45, 1, 3, 'Devaney, Miss. Margaret Delia', 'female', 19, '330958', 7.8792)
(46, 0, 3, 'Rogers, Mr. William John', 'male', '', 'S.C./A.4. 23567', 8.05)
(47, 0, 3, 'Lennon, Mr. Denis', 'male', '', '370371', 15.5)
(48, 1, 3, "O'Driscoll, Miss. Bridget", 'female', '', '14311', 7.75)
(49, 0, 3, 'Samaan, Mr. Youssef', 'male', '', '2662', 34.11214999999993)
(50, 0, 3, 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)', 'female', 18, '349237', 17.8)
(51, 0, 3, 'Panula, Master. Juha Niilo', 'male', 7, '3101295', 39.6875)
(52, 0, 3, 'Nosworthy, Mr. Richard Cater', 'male', 21, 'A/4. 39886', 7.8)
(53, 1, 1, 'Harper, Mrs. Henry Sleeper (Myna Haxtun)', 'female', 49, 'PC 17572', 76.7292)
(54, 1, 2, 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', 'female', 29, '2926', 34.11214999999993)
(55, 0, 1, 'Ostby, Mr. Engelhart Cornelius', 'male', 65, '113509', 61.9792)
(56, 1, 1, 'Woolner, Mr. Hugh', 'male', '', '19947', 35.5)
(57, 1, 2, 'Rugg, Miss. Emily', 'female', 21, 'C.A. 31026', 10.5)
(58, 0, 3, 'Novel, Mr. Mansouer', 'male', 28.5, '2697', 7.2292)
(59, 1, 2, 'West, Miss. Constance Mirium', 'female', 5, 'C.A. 34651', 34.11214999999993)
(60, 0, 3, 'Goodwin, Master. William Frederick', 'male', 11, 'CA 2144', 46.9)
(61, 0, 3, 'Sirayanian, Mr. Orsen', 'male', 22, '2669', 7.2292)
(62, 1, 1, 'Icard, Miss. Amelie', 'female', 38, '113572', 80.0)
(63, 0, 1, 'Harris, Mr. Henry Birkhardt', 'male', 45, '36973', 83.475)
(64, 0, 3, 'Skoog, Master. Harald', 'male', 4, '347088', 34.11214999999993)
(65, 0, 1, 'Stewart, Mr. Albert A', 'male', '', 'PC 17605', 34.11214999999993)
(66, 1, 3, 'Moubarek, Master. Gerios', 'male', '', '2661', 15.2458)
(67, 1, 2, 'Nye, Mrs. (Elizabeth Ramell)', 'female', 29, 'C.A. 29395', 10.5)
(68, 0, 3, 'Crease, Mr. Ernest James', 'male', 19, 'S.P. 3464', 8.1583)
(69, 1, 3, 'Andersson, Miss. Erna Alexandra', 'female', 17, '3101281', 7.925)
(70, 0, 3, 'Kink, Mr. Vincenz', 'male', 26, '315151', 8.6625)
(71, 0, 2, 'Jenkin, Mr. Stephen Curnow', 'male', 32, 'C.A. 33111', 10.5)
(72, 0, 3, 'Goodwin, Miss. Lillian Amy', 'female', 16, 'CA 2144', 46.9)
(73, 0, 2, 'Hood, Mr. Ambrose Jr', 'male', 21, 'S.O.C. 14879', 73.5)
(74, 0, 3, 'Chronopoulos, Mr. Apostolos', 'male', 26, '2680', 14.4542)
(75, 1, 3, 'Bing, Mr. Lee', 'male', 32, '1601', 56.4958)
(76, 0, 3, 'Moen, Mr. Sigurd Hansen', 'male', 25, '348123', 7.65)
(77, 0, 3, 'Staneff, Mr. Ivan', 'male', '', '349208', 7.8958)
(78, 0, 3, 'Moutal, Mr. Rahamin Haim', 'male', '', '374746', 8.05)
(79, 1, 2, 'Caldwell, Master. Alden Gates', 'male', 0.83, '248738', 34.11214999999993)
(80, 1, 3, 'Dowdell, Miss. Elizabeth', 'female', 30, '364516', 12.475)
(81, 0, 3, 'Waelens, Mr. Achille', 'male', 22, '345767', 9.0)
(82, 1, 3, 'Sheerlinck, Mr. Jan Baptist', 'male', 29, '345779', 9.5)
(83, 1, 3, 'McDermott, Miss. Brigdet Delia', 'female', '', '330932', 7.7875)
(84, 0, 1, 'Carrau, Mr. Francisco M', 'male', 28, '113059', 47.1)
(85, 1, 2, 'Ilett, Miss. Bertha', 'female', 17, 'SO/C 14885', 10.5)
(86, 1, 3, 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'female', 33, '3101278', 15.85)
(87, 0, 3, 'Ford, Mr. William Neal', 'male', 16, 'W./C. 6608', 34.375)
(88, 0, 3, 'Slocovski, Mr. Selman Francis', 'male', '', 'SOTON/OQ 392086', 8.05)
(89, 1, 1, 'Fortune, Miss. Mabel Helen', 'female', 23, '19950', 263.0)
(90, 0, 3, 'Celotti, Mr. Francesco', 'male', 24, '343275', 8.05)
(91, 0, 3, 'Christmann, Mr. Emil', 'male', 29, '343276', 8.05)
(92, 0, 3, 'Andreasson, Mr. Paul Edvin', 'male', 20, '347466', 7.8542)
(93, 0, 1, 'Chaffee, Mr. Herbert Fuller', 'male', 46, 'W.E.P. 5734', 61.175)
(94, 0, 3, 'Dean, Mr. Bertram Frank', 'male', 26, 'C.A. 2315', 34.11214999999993)
(95, 0, 3, 'Coxon, Mr. Daniel', 'male', 59, '364500', 7.25)
(96, 0, 3, 'Shorney, Mr. Charles Joseph', 'male', '', '374910', 8.05)
(97, 0, 1, 'Goldschmidt, Mr. George B', 'male', 71, 'PC 17754', 34.6542)
(98, 1, 1, 'Greenfield, Mr. William Bertram', 'male', 23, 'PC 17759', 63.3583)
(99, 1, 2, 'Doling, Mrs. John T (Ada Julia Bone)', 'female', 34, '231919', 34.11214999999993)
(100, 0, 2, 'Kantor, Mr. Sinai', 'male', 34, '244367', 34.11214999999993)
(101, 0, 3, 'Petranec, Miss. Matilda', 'female', 28, '349245', 7.8958)
(102, 0, 3, 'Petroff, Mr. Pastcho ("Pentcho")', 'male', '', '349215', 7.8958)
(103, 0, 1, 'White, Mr. Richard Frasar', 'male', 21, '35281', 77.2875)
(104, 0, 3, 'Johansson, Mr. Gustaf Joel', 'male', 33, '7540', 8.6542)
(105, 0, 3, 'Gustafsson, Mr. Anders Vilhelm', 'male', 37, '3101276', 7.925)
(106, 0, 3, 'Mionoff, Mr. Stoytcho', 'male', 28, '349207', 7.8958)
(107, 1, 3, 'Salkjelsvik, Miss. Anna Kristine', 'female', 21, '343120', 7.65)
(108, 1, 3, 'Moss, Mr. Albert Johan', 'male', '', '312991', 7.775)
(109, 0, 3, 'Rekic, Mr. Tido', 'male', 38, '349249', 7.8958)
(110, 1, 3, 'Moran, Miss. Bertha', 'female', '', '371110', 34.11214999999993)
(111, 0, 1, 'Porter, Mr. Walter Chamberlain', 'male', 47, '110465', 52.0)
(112, 0, 3, 'Zabour, Miss. Hileni', 'female', 14.5, '2665', 14.4542)
(113, 0, 3, 'Barton, Mr. David John', 'male', 22, '324669', 8.05)
(114, 0, 3, 'Jussila, Miss. Katriina', 'female', 20, '4136', 9.825)

(115, 0, 3, 'Attalah, Miss. Malake', 'female', 17, '2627', 14.4583)
(116, 0, 3, 'Pekoniemi, Mr. Edvard', 'male', 21, 'STON/O 2. 3101294', 7.925)
(117, 0, 3, 'Connors, Mr. Patrick', 'male', 70.5, '370369', 7.75)
(118, 0, 2, 'Turpin, Mr. William John Robert', 'male', 29, '11668', 34.11214999999993)
(119, 0, 1, 'Baxter, Mr. Quigg Edmond', 'male', 24, 'PC 17558', 247.5208)
(120, 0, 3, 'Andersson, Miss. Ellis Anna Maria', 'female', 2, '347082', 31.275)
(121, 0, 2, 'Hickman, Mr. Stanley George', 'male', 21, 'S.O.C. 14879', 73.5)
(122, 0, 3, 'Moore, Mr. Leonard Charles', 'male', '', 'A4. 54510', 8.05)
(123, 0, 2, 'Nasser, Mr. Nicholas', 'male', 32.5, '237736', 30.0708)
(124, 1, 2, 'Webber, Miss. Susan', 'female', 32.5, '27267', 13.0)
(125, 0, 1, 'White, Mr. Percival Wayland', 'male', 54, '35281', 77.2875)
(126, 1, 3, 'Nicola-Yarred, Master. Elias', 'male', 12, '2651', 11.2417)
(127, 0, 3, 'McMahon, Mr. Martin', 'male', '', '370372', 7.75)
(128, 1, 3, 'Madsen, Mr. Fridtjof Arne', 'male', 24, 'C 17369', 7.1417)
(129, 1, 3, 'Peter, Miss. Anna', 'female', '', '2668', 34.11214999999993)
(130, 0, 3, 'Ekstrom, Mr. Johan', 'male', 45, '347061', 6.975)
(131, 0, 3, 'Drazenoic, Mr. Jozef', 'male', 33, '349241', 7.8958)
(132, 0, 3, 'Coelho, Mr. Domingos Fernandeo', 'male', 20, 'SOTON/O.Q. 3101307', 7.05)
(133, 0, 3, 'Robins, Mrs. Alexander A (Grace Charity Laury)', 'female', 47, 'A/5. 3337', 14.5)
(134, 1, 2, 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)', 'female', 29, '228414', 34.11214999999993)
(135, 0, 2, 'Sobey, Mr. Samuel James Hayden', 'male', 25, 'C.A. 29178', 13.0)
(136, 0, 2, 'Richard, Mr. Emile', 'male', 23, 'SC/PARIS 2133', 15.0458)
(137, 1, 1, 'Newsom, Miss. Helen Monypeny', 'female', 19, '11752', 34.11214999999993)
(138, 0, 1, 'Futrelle, Mr. Jacques Heath', 'male', 37, '113803', 53.1)
(139, 0, 3, 'Osen, Mr. Olaf Elon', 'male', 16, '7534', 9.2167)
(140, 0, 1, 'Giglio, Mr. Victor', 'male', 24, 'PC 17593', 79.2)
(141, 0, 3, 'Boulos, Mrs. Joseph (Sultana)', 'female', '', '2678', 15.2458)
(142, 1, 3, 'Nysten, Miss. Anna Sofia', 'female', 22, '347081', 7.75)
(143, 1, 3, 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)', 'female', 24, 'STON/O2. 3101279', 15.85)
(144, 0, 3, 'Burke, Mr. Jeremiah', 'male', 19, '365222', 6.75)
(145, 0, 2, 'Andrew, Mr. Edgardo Samuel', 'male', 18, '231945', 11.5)
(146, 0, 2, 'Nicholls, Mr. Joseph Charles', 'male', 19, 'C.A. 33112', 36.75)
(147, 1, 3, 'Andersson, Mr. August Edvard ("Wennerstrom")', 'male', 27, '350043', 7.7958)
(148, 0, 3, 'Ford, Miss. Robina Maggie "Ruby"', 'female', 9, 'W./C. 6608', 34.375)
(149, 0, 2, 'Navratil, Mr. Michel ("Louis M Hoffman")', 'male', 36.5, '230080', 34.11214999999993)
(150, 0, 2, 'Byles, Rev. Thomas Roussel Davids', 'male', 42, '244310', 13.0)
(151, 0, 2, 'Bateman, Rev. Robert James', 'male', 51, 'S.O.P. 1166', 12.525)
(152, 1, 1, 'Pears, Mrs. Thomas (Edith Wearne)', 'female', 22, '113776', 66.6)
(153, 0, 3, 'Meo, Mr. Alfonzo', 'male', 55.5, 'A.5. 11206', 8.05)
(154, 0, 3, 'van Billiard, Mr. Austin Blyler', 'male', 40.5, 'A/5. 851', 14.5)
(155, 0, 3, 'Olsen, Mr. Ole Martin', 'male', '', 'Fa 265302', 7.3125)
(156, 0, 1, 'Williams, Mr. Charles Duane', 'male', 51, 'PC 17597', 61.3792)
(157, 1, 3, 'Gilnagh, Miss. Katherine "Katie"', 'female', 16, '35851', 7.7333)
(158, 0, 3, 'Corn, Mr. Harry', 'male', 30, 'SOTON/OQ 392090', 8.05)
(159, 0, 3, 'Smiljanic, Mr. Mile', 'male', '', '315037', 8.6625)
(160, 0, 3, 'Sage, Master. Thomas Henry', 'male', '', 'CA. 2343', 69.55)
(161, 0, 3, 'Cribb, Mr. John Hatfield', 'male', 44, '371362', 16.1)
(162, 1, 2, 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)', 'female', 40, 'C.A. 33595', 15.75)
(163, 0, 3, 'Bengtsson, Mr. John Viktor', 'male', 26, '347068', 7.775)
(164, 0, 3, 'Calic, Mr. Jovo', 'male', 17, '315093', 8.6625)
(165, 0, 3, 'Panula, Master. Eino Viljami', 'male', 1, '3101295', 39.6875)
(166, 1, 3, 'Goldsmith, Master. Frank John William "Frankie"', 'male', 9, '363291', 34.11214999999993)
(167, 1, 1, 'Chibnall, Mrs. (Edith Martha Bowerman)', 'female', '', '113505', 55.0)
(168, 0, 3, 'Skoog, Mrs. William (Anna Bernhardina Karlsson)', 'female', 45, '347088', 34.11214999999993)
(169, 0, 1, 'Baumann, Mr. John D', 'male', '', 'PC 17318', 34.11214999999993)
(170, 0, 3, 'Ling, Mr. Lee', 'male', 28, '1601', 56.4958)
(171, 0, 1, 'Van der hoef, Mr. Wyckoff', 'male', 61, '111240', 33.5)
(172, 0, 3, 'Rice, Master. Arthur', 'male', 4, '382652', 34.11214999999993)
(173, 1, 3, 'Johnson, Miss. Eleanor Ileen', 'female', 1, '347742', 11.1333)
(174, 0, 3, 'Sivola, Mr. Antti Wilhelm', 'male', 21, 'STON/O 2. 3101280', 7.925)
(175, 0, 1, 'Smith, Mr. James Clinch', 'male', 56, '17764', 30.6958)
(176, 0, 3, 'Klasen, Mr. Klas Albin', 'male', 18, '350404', 7.8542)
(177, 0, 3, 'Lefebre, Master. Henry Forbes', 'male', '', '4133', 34.11214999999993)
(178, 0, 1, 'Isham, Miss. Ann Elizabeth', 'female', 50, 'PC 17595', 34.11214999999993)
(179, 0, 2, 'Hale, Mr. Reginald', 'male', 30, '250653', 13.0)
(180, 0, 3, 'Leonard, Mr. Lionel', 'male', 36, 'LINE', 34.11214999999993)
(181, 0, 3, 'Sage, Miss. Constance Gladys', 'female', '', 'CA. 2343', 69.55)
(182, 0, 2, 'Pernot, Mr. Rene', 'male', '', 'SC/PARIS 2131', 15.05)
(183, 0, 3, 'Asplund, Master. Clarence Gustaf Hugo', 'male', 9, '347077', 31.3875)
(184, 1, 2, 'Becker, Master. Richard F', 'male', 1, '230136', 39.0)
(185, 1, 3, 'Kink-Heilmann, Miss. Luise Gretchen', 'female', 4, '315153', 34.11214999999993)
(186, 0, 1, 'Rood, Mr. Hugh Roscoe', 'male', '', '113767', 50.0)
(187, 1, 3, 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)', 'female', '', '370365', 15.5)
(188, 1, 1, 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")', 'male', 45, '111428', 34.11214999999993)
(189, 0, 3, 'Bourke, Mr. John', 'male', 40, '364849', 15.5)
(190, 0, 3, 'Turcin, Mr. Stjepan', 'male', 36, '349247', 7.8958)
(191, 1, 2, 'Pinsky, Mrs. (Rosa)', 'female', 32, '234604', 13.0)
(192, 0, 2, 'Carbines, Mr. William', 'male', 19, '28424', 13.0)
(193, 1, 3, 'Andersen-Jensen, Miss. Carla Christine Nielsine', 'female', 19, '350046', 7.8542)
(194, 1, 2, 'Navratil, Master. Michel M', 'male', 3, '230080', 34.11214999999993)
(195, 1, 1, 'Brown, Mrs. James Joseph (Margaret Tobin)', 'female', 44, 'PC 17610', 34.11214999999993)
(196, 1, 1, 'Lurette, Miss. Elise', 'female', 58, 'PC 17569', 146.5208)
(197, 0, 3, 'Mernagh, Mr. Robert', 'male', '', '368703', 7.75)
(198, 0, 3, 'Olsen, Mr. Karl Siegwart Andreas', 'male', 42, '4579', 8.4042)
(199, 1, 3, 'Madigan, Miss. Margaret "Maggie"', 'female', '', '370370', 7.75)
(200, 0, 2, 'Yrois, Miss. Henriette ("Mrs Harbeck")', 'female', 24, '248747', 13.0)
(201, 0, 3, 'Vande Walle, Mr. Nestor Cyriel', 'male', 28, '345770', 9.5)
(202, 0, 3, 'Sage, Mr. Frederick', 'male', '', 'CA. 2343', 69.55)
(203, 0, 3, 'Johanson, Mr. Jakob Alfred', 'male', 34, '3101264', 6.4958)
(204, 0, 3, 'Youseff, Mr. Gerious', 'male', 45.5, '2628', 7.225)
(205, 1, 3, 'Cohen, Mr. Gurshon "Gus"', 'male', 18, 'A/5 3540', 8.05)
(206, 0, 3, 'Strom, Miss. Telma Matilda', 'female', 2, '347054', 10.4625)
(207, 0, 3, 'Backstrom, Mr. Karl Alfred', 'male', 32, '3101278', 15.85)
(208, 1, 3, 'Albimona, Mr. Nassef Cassem', 'male', 26, '2699', 18.7875)
(209, 1, 3, 'Carr, Miss. Helen "Ellen"', 'female', 16, '367231', 7.75)
(210, 1, 1, 'Blank, Mr. Henry', 'male', 40, '112277', 31.0)
(211, 0, 3, 'Ali, Mr. Ahmed', 'male', 24, 'SOTON/O.Q. 3101311', 7.05)
(212, 1, 2, 'Cameron, Miss. Clear Annie', 'female', 35, 'F.C.C. 13528', 34.11214999999993)
(213, 0, 3, 'Perkin, Mr. John Henry', 'male', 22, 'A/5 21174', 7.25)
(214, 0, 2, 'Givard, Mr. Hans Kristensen', 'male', 30, '250646', 13.0)
(215, 0, 3, 'Kiernan, Mr. Philip', 'male', '', '367229', 7.75)
(216, 1, 1, 'Newell, Miss. Madeleine', 'female', 31, '35273', 113.275)
(217, 1, 3, 'Honkanen, Miss. Eliina', 'female', 27, 'STON/O2. 3101283', 7.925)
(218, 0, 2, 'Jacobsohn, Mr. Sidney Samuel', 'male', 42, '243847', 34.11214999999993)
(219, 1, 1, 'Bazzani, Miss. Albina', 'female', 32, '11813', 76.2917)
(220, 0, 2, 'Harris, Mr. Walter', 'male', 30, 'W/C 14208', 10.5)
(221, 1, 3, 'Sunderland, Mr. Victor Francis', 'male', 16, 'SOTON/OQ 392089', 8.05)
(222, 0, 2, 'Bracken, Mr. James H', 'male', 27, '220367', 13.0)
(223, 0, 3, 'Green, Mr. George Henry', 'male', 51, '21440', 8.05)
(224, 0, 3, 'Nenkoff, Mr. Christo', 'male', '', '349234', 7.8958)
(225, 1, 1, 'Hoyt, Mr. Frederick Maxfield', 'male', 38, '19943', 90.0)
(226, 0, 3, 'Berglund, Mr. Karl Ivar Sven', 'male', 22, 'PP 4348', 9.35)
(227, 1, 2, 'Mellors, Mr. William John', 'male', 19, 'SW/PP 751', 10.5)
(228, 0, 3, 'Lovell, Mr. John Hall ("Henry")', 'male', 20.5, 'A/5 21173', 7.25)
(229, 0, 2, 'Fahlstrom, Mr. Arne Jonas', 'male', 18, '236171', 13.0)
(230, 0, 3, 'Lefebre, Miss. Mathilde', 'female', '', '4133', 34.11214999999993)
(231, 1, 1, 'Harris, Mrs. Henry Birkhardt (Irene Wallach)', 'female', 35, '36973', 83.475)
(232, 0, 3, 'Larsson, Mr. Bengt Edvin', 'male', 29, '347067', 7.775)
(233, 0, 2, 'Sjostedt, Mr. Ernst Adolf', 'male', 59, '237442', 13.5)
(234, 1, 3, 'Asplund, Miss. Lillian Gertrud', 'female', 5, '347077', 31.3875)
(235, 0, 2, 'Leyson, Mr. Robert William Norman', 'male', 24, 'C.A. 29566', 10.5)
(236, 0, 3, 'Harknett, Miss. Alice Phoebe', 'female', '', 'W./C. 6609', 7.55)
(237, 0, 2, 'Hold, Mr. Stephen', 'male', 44, '26707', 34.11214999999993)
(238, 1, 2, 'Collyer, Miss. Marjorie "Lottie"', 'female', 8, 'C.A. 31921', 34.11214999999993)
(239, 0, 2, 'Pengelly, Mr. Frederick William', 'male', 19, '28665', 10.5)
(240, 0, 2, 'Hunt, Mr. George Henry', 'male', 33, 'SCO/W 1585', 12.275)
(241, 0, 3, 'Zabour, Miss. Thamine', 'female', '', '2665', 14.4542)
(242, 1, 3, 'Murphy, Miss. Katherine "Kate"', 'female', '', '367230', 15.5)
(243, 0, 2, 'Coleridge, Mr. Reginald Charles', 'male', 29, 'W./C. 14263', 10.5)
(244, 0, 3, 'Maenpaa, Mr. Matti Alexanteri', 'male', 22, 'STON/O 2. 3101275', 7.125)
(245, 0, 3, 'Attalah, Mr. Sleiman', 'male', 30, '2694', 7.225)
(246, 0, 1, 'Minahan, Dr. William Edward', 'male', 44, '19928', 90.0)
(247, 0, 3, 'Lindahl, Miss. Agda Thorilda Viktoria', 'female', 25, '347071', 7.775)
(248, 1, 2, 'Hamalainen, Mrs. William (Anna)', 'female', 24, '250649', 14.5)
(249, 1, 1, 'Beckwith, Mr. Richard Leonard', 'male', 37, '11751', 52.5542)
(250, 0, 2, 'Carter, Rev. Ernest Courtenay', 'male', 54, '244252', 34.11214999999993)
(251, 0, 3, 'Reed, Mr. James George', 'male', '', '362316', 7.25)
(252, 0, 3, 'Strom, Mrs. Wilhelm (Elna Matilda Persson)', 'female', 29, '347054', 10.4625)
(253, 0, 1, 'Stead, Mr. William Thomas', 'male', 62, '113514', 34.11214999999993)
(254, 0, 3, 'Lobb, Mr. William Arthur', 'male', 30, 'A/5. 3336', 16.1)
(255, 0, 3, 'Rosblom, Mrs. Viktor (Helena Wilhelmina)', 'female', 41, '370129', 34.11214999999993)
(256, 1, 3, 'Touma, Mrs. Darwis (Hanne Youssef Razi)', 'female', 29, '2650', 15.2458)
(257, 1, 1, 'Thorne, Mrs. Gertrude Maybelle', 'female', '', 'PC 17585', 79.2)
(258, 1, 1, 'Cherry, Miss. Gladys', 'female', 30, '110152', 86.5)
(259, 1, 1, 'Ward, Miss. Anna', 'female', 35, 'PC 17755', 512.3292)
(260, 1, 2, 'Parrish, Mrs. (Lutie Davis)', 'female', 50, '230433', 34.11214999999993)
(261, 0, 3, 'Smith, Mr. Thomas', 'male', '', '384461', 7.75)
(262, 1, 3, 'Asplund, Master. Edvin Rojj Felix', 'male', 3, '347077', 31.3875)
(263, 0, 1, 'Taussig, Mr. Emil', 'male', 52, '110413', 79.65)
(264, 0, 1, 'Harrison, Mr. William', 'male', 40, '112059', 34.11214999999993)
(265, 0, 3, 'Henry, Miss. Delia', 'female', '', '382649', 7.75)
(266, 0, 2, 'Reeves, Mr. David', 'male', 36, 'C.A. 17248', 10.5)
(267, 0, 3, 'Panula, Mr. Ernesti Arvid', 'male', 16, '3101295', 39.6875)
(268, 1, 3, 'Persson, Mr. Ernst Ulrik', 'male', 25, '347083', 7.775)
(269, 1, 1, 'Graham, Mrs. William Thompson (Edith Junkins)', 'female', 58, 'PC 17582', 153.4625)
(270, 1, 1, 'Bissette, Miss. Amelia', 'female', 35, 'PC 17760', 135.6333)
(271, 0, 1, 'Cairns, Mr. Alexander', 'male', '', '113798', 31.0)
(272, 1, 3, 'Tornquist, Mr. William Henry', 'male', 25, 'LINE', 34.11214999999993)
(273, 1, 2, 'Mellinger, Mrs. (Elizabeth Anne Maidment)', 'female', 41, '250644', 19.5)
(274, 0, 1, 'Natsch, Mr. Charles H', 'male', 37, 'PC 17596', 34.11214999999993)
(275, 1, 3, 'Healy, Miss. Hanora "Nora"', 'female', '', '370375', 7.75)
(276, 1, 1, 'Andrews, Miss. Kornelia Theodosia', 'female', 63, '13502', 77.9583)
(277, 0, 3, 'Lindblom, Miss. Augusta Charlotta', 'female', 45, '347073', 7.75)
(278, 0, 2, 'Parkes, Mr. Francis "Frank"', 'male', '', '239853', 34.11214999999993)
(279, 0, 3, 'Rice, Master. Eric', 'male', 7, '382652', 34.11214999999993)
(280, 1, 3, 'Abbott, Mrs. Stanton (Rosa Hunt)', 'female', 35, 'C.A. 2673', 34.11214999999993)
(281, 0, 3, 'Duane, Mr. Frank', 'male', 65, '336439', 7.75)
(282, 0, 3, 'Olsson, Mr. Nils Johan Goransson', 'male', 28, '347464', 7.8542)
(283, 0, 3, 'de Pelsmaeker, Mr. Alfons', 'male', 16, '345778', 9.5)
(284, 1, 3, 'Dorking, Mr. Edward Arthur', 'male', 19, 'A/5. 10482', 8.05)
(285, 0, 1, 'Smith, Mr. Richard William', 'male', '', '113056', 34.11214999999993)
(286, 0, 3, 'Stankovic, Mr. Ivan', 'male', 33, '349239', 8.6625)
(287, 1, 3, 'de Mulder, Mr. Theodore', 'male', 30, '345774', 9.5)
(288, 0, 3, 'Naidenoff, Mr. Penko', 'male', 22, '349206', 7.8958)
(289, 1, 2, 'Hosono, Mr. Masabumi', 'male', 42, '237798', 13.0)
(290, 1, 3, 'Connolly, Miss. Kate', 'female', 22, '370373', 7.75)
(291, 1, 1, 'Barber, Miss. Ellen "Nellie"', 'female', 26, '19877', 78.85)
(292, 1, 1, 'Bishop, Mrs. Dickinson H (Helen Walton)', 'female', 19, '11967', 91.0792)
(293, 0, 2, 'Levy, Mr. Rene Jacques', 'male', 36, 'SC/Paris 2163', 12.875)
(294, 0, 3, 'Haas, Miss. Aloisia', 'female', 24, '349236', 8.85)
(295, 0, 3, 'Mineff, Mr. Ivan', 'male', 24, '349233', 7.8958)
(296, 0, 1, 'Lewy, Mr. Ervin G', 'male', '', 'PC 17612', 34.11214999999993)
(297, 0, 3, 'Hanna, Mr. Mansour', 'male', 23.5, '2693', 7.2292)
(298, 0, 1, 'Allison, Miss. Helen Loraine', 'female', 2, '113781', 151.55)
(299, 1, 1, 'Saalfeld, Mr. Adolphe', 'male', '', '19988', 30.5)
(300, 1, 1, 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)', 'female', 50, 'PC 17558', 247.5208)
(301, 1, 3, 'Kelly, Miss. Anna Katherine "Annie Kate"', 'female', '', '9234', 7.75)
(302, 1, 3, 'McCoy, Mr. Bernard', 'male', '', '367226', 34.11214999999993)
(303, 0, 3, 'Johnson, Mr. William Cahoone Jr', 'male', 19, 'LINE', 34.11214999999993)
(304, 1, 2, 'Keane, Miss. Nora A', 'female', '', '226593', 12.35)
(305, 0, 3, 'Williams, Mr. Howard Hugh "Harry"', 'male', '', 'A/5 2466', 8.05)
(306, 1, 1, 'Allison, Master. Hudson Trevor', 'male', 0.92, '113781', 151.55)
(307, 1, 1, 'Fleming, Miss. Margaret', 'female', '', '17421', 110.8833)
(308, 1, 1, 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)', 'female', 17, 'PC 17758', 108.9)
(309, 0, 2, 'Abelson, Mr. Samuel', 'male', 30, 'P/PP 3381', 34.11214999999993)
(310, 1, 1, 'Francatelli, Miss. Laura Mabel', 'female', 30, 'PC 17485', 56.9292)
(311, 1, 1, 'Hays, Miss. Margaret Bechstein', 'female', 24, '11767', 83.1583)
(312, 1, 1, 'Ryerson, Miss. Emily Borie', 'female', 18, 'PC 17608', 262.375)
(313, 0, 2, 'Lahtinen, Mrs. William (Anna Sylfven)', 'female', 26, '250651', 34.11214999999993)
(314, 0, 3, 'Hendekovic, Mr. Ignjac', 'male', 28, '349243', 7.8958)
(315, 0, 2, 'Hart, Mr. Benjamin', 'male', 43, 'F.C.C. 13529', 34.11214999999993)
(316, 1, 3, 'Nilsson, Miss. Helmina Josefina', 'female', 26, '347470', 7.8542)
(317, 1, 2, 'Kantor, Mrs. Sinai (Miriam Sternin)', 'female', 24, '244367', 34.11214999999993)
(318, 0, 2, 'Moraweck, Dr. Ernest', 'male', 54, '29011', 14.0)
(319, 1, 1, 'Wick, Miss. Mary Natalie', 'female', 31, '36928', 164.8667)
(320, 1, 1, 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)', 'female', 40, '16966', 134.5)
(321, 0, 3, 'Dennis, Mr. Samuel', 'male', 22, 'A/5 21172', 7.25)
(322, 0, 3, 'Danoff, Mr. Yoto', 'male', 27, '349219', 7.8958)
(323, 1, 2, 'Slayter, Miss. Hilda Mary', 'female', 30, '234818', 12.35)
(324, 1, 2, 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)', 'female', 22, '248738', 34.11214999999993)
(325, 0, 3, 'Sage, Mr. George John Jr', 'male', '', 'CA. 2343', 69.55)
(326, 1, 1, 'Young, Miss. Marie Grice', 'female', 36, 'PC 17760', 135.6333)
(327, 0, 3, 'Nysveen, Mr. Johan Hansen', 'male', 61, '345364', 6.2375)
(328, 1, 2, 'Ball, Mrs. (Ada E Hall)', 'female', 36, '28551', 13.0)
(329, 1, 3, 'Goldsmith, Mrs. Frank John (Emily Alice Brown)', 'female', 31, '363291', 34.11214999999993)
(330, 1, 1, 'Hippach, Miss. Jean Gertrude', 'female', 16, '111361', 57.9792)
(331, 1, 3, 'McCoy, Miss. Agnes', 'female', '', '367226', 34.11214999999993)
(332, 0, 1, 'Partner, Mr. Austen', 'male', 45.5, '113043', 34.11214999999993)
(333, 0, 1, 'Graham, Mr. George Edward', 'male', 38, 'PC 17582', 153.4625)
(334, 0, 3, 'Vander Planke, Mr. Leo Edmondus', 'male', 16, '345764', 18.0)
(335, 1, 1, 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)', 'female', '', 'PC 17611', 133.65)
(336, 0, 3, 'Denkoff, Mr. Mitto', 'male', '', '349225', 7.8958)
(337, 0, 1, 'Pears, Mr. Thomas Clinton', 'male', 29, '113776', 66.6)
(338, 1, 1, 'Burns, Miss. Elizabeth Margaret', 'female', 41, '16966', 134.5)
(339, 1, 3, 'Dahl, Mr. Karl Edwart', 'male', 45, '7598', 8.05)
(340, 0, 1, 'Blackwell, Mr. Stephen Weart', 'male', 45, '113784', 35.5)
(341, 1, 2, 'Navratil, Master. Edmond Roger', 'male', 2, '230080', 34.11214999999993)

(342, 1, 1, 'Fortune, Miss. Alice Elizabeth', 'female', 24, '19950', 263.0)
(343, 0, 2, 'Collander, Mr. Erik Gustaf', 'male', 28, '248740', 13.0)
(344, 0, 2, 'Sedgwick, Mr. Charles Frederick Waddington', 'male', 25, '244361', 13.0)
(345, 0, 2, 'Fox, Mr. Stanley Hubert', 'male', 36, '229236', 13.0)
(346, 1, 2, 'Brown, Miss. Amelia "Mildred"', 'female', 24, '248733', 13.0)
(347, 1, 2, 'Smith, Miss. Marion Elsie', 'female', 40, '31418', 13.0)
(348, 1, 3, 'Davison, Mrs. Thomas Henry (Mary E Finck)', 'female', '', '386525', 16.1)
(349, 1, 3, 'Coutts, Master. William Loch "William"', 'male', 3, 'C.A. 37671', 15.9)
(350, 0, 3, 'Dimic, Mr. Jovan', 'male', 42, '315088', 8.6625)
(351, 0, 3, 'Odahl, Mr. Nils Martin', 'male', 23, '7267', 9.225)
(352, 0, 1, 'Williams-Lambert, Mr. Fletcher Fellows', 'male', '', '113510', 35.0)
(353, 0, 3, 'Elias, Mr. Tannous', 'male', 15, '2695', 7.2292)
(354, 0, 3, 'Arnold-Franchi, Mr. Josef', 'male', 25, '349237', 17.8)
(355, 0, 3, 'Yousif, Mr. Wazli', 'male', '', '2647', 7.225)
(356, 0, 3, 'Vanden Steen, Mr. Leo Peter', 'male', 28, '345783', 9.5)
(357, 1, 1, 'Bowerman, Miss. Elsie Edith', 'female', 22, '113505', 55.0)
(358, 0, 2, 'Funk, Miss. Annie Clemmer', 'female', 38, '237671', 13.0)
(359, 1, 3, 'McGovern, Miss. Mary', 'female', '', '330931', 7.8792)
(360, 1, 3, 'Mockler, Miss. Helen Mary "Ellie"', 'female', '', '330980', 7.8792)
(361, 0, 3, 'Skoog, Mr. Wilhelm', 'male', 40, '347088', 34.11214999999993)
(362, 0, 2, 'del Carlo, Mr. Sebastiano', 'male', 29, 'SC/PARIS 2167', 34.11214999999993)
(363, 0, 3, 'Barbara, Mrs. (Catherine David)', 'female', 45, '2691', 14.4542)
(364, 0, 3, 'Asim, Mr. Adola', 'male', 35, 'SOTON/O.Q. 3101310', 7.05)
(365, 0, 3, "O'Brien, Mr. Thomas", 'male', '', '370365', 15.5)
(366, 0, 3, 'Adahl, Mr. Mauritz Nils Martin', 'male', 30, 'C 7076', 7.25)
(367, 1, 1, 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)', 'female', 60, '110813', 75.25)
(368, 1, 3, 'Moussa, Mrs. (Mantoura Boulos)', 'female', '', '2626', 7.2292)
(369, 1, 3, 'Jermyn, Miss. Annie', 'female', '', '14313', 7.75)
(370, 1, 1, 'Aubart, Mme. Leontine Pauline', 'female', 24, 'PC 17477', 69.3)
(371, 1, 1, 'Harder, Mr. George Achilles', 'male', 25, '11765', 55.4417)
(372, 0, 3, 'Wiklund, Mr. Jakob Alfred', 'male', 18, '3101267', 6.4958)
(373, 0, 3, 'Beavan, Mr. William Thomas', 'male', 19, '323951', 8.05)
(374, 0, 1, 'Ringhini, Mr. Sante', 'male', 22, 'PC 17760', 135.6333)
(375, 0, 3, 'Palsson, Miss. Stina Viola', 'female', 3, '349909', 34.11214999999993)
(376, 1, 1, 'Meyer, Mrs. Edgar Joseph (Leila Saks)', 'female', '', 'PC 17604', 82.1708)
(377, 1, 3, 'Landergren, Miss. Aurora Adelia', 'female', 22, 'C 7077', 7.25)
(378, 0, 1, 'Widener, Mr. Harry Elkins', 'male', 27, '113503', 211.5)
(379, 0, 3, 'Betros, Mr. Tannous', 'male', 20, '2648', 4.0125)
(380, 0, 3, 'Gustafsson, Mr. Karl Gideon', 'male', 19, '347069', 7.775)
(381, 1, 1, 'Bidois, Miss. Rosalie', 'female', 42, 'PC 17757', 227.525)
(382, 1, 3, 'Nakid, Miss. Maria ("Mary")', 'female', 1, '2653', 15.7417)
(383, 0, 3, 'Tikkanen, Mr. Juho', 'male', 32, 'STON/O 2. 3101293', 7.925)
(384, 1, 1, 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)', 'female', 35, '113789', 52.0)
(385, 0, 3, 'Plotcharsky, Mr. Vasil', 'male', '', '349227', 7.8958)
(386, 0, 2, 'Davies, Mr. Charles Henry', 'male', 18, 'S.O.C. 14879', 73.5)
(387, 0, 3, 'Goodwin, Master. Sidney Leonard', 'male', 1, 'CA 2144', 46.9)
(388, 1, 2, 'Buss, Miss. Kate', 'female', 36, '27849', 13.0)
(389, 0, 3, 'Sadlier, Mr. Matthew', 'male', '', '367655', 7.7292)
(390, 1, 2, 'Lehmann, Miss. Bertha', 'female', 17, 'SC 1748', 12.0)
(391, 1, 1, 'Carter, Mr. William Ernest', 'male', 36, '113760', 120.0)
(392, 1, 3, 'Jansson, Mr. Carl Olof', 'male', 21, '350034', 7.7958)
(393, 0, 3, 'Gustafsson, Mr. Johan Birger', 'male', 28, '3101277', 7.925)
(394, 1, 1, 'Newell, Miss. Marjorie', 'female', 23, '35273', 113.275)
(395, 1, 3, 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)', 'female', 24, 'PP 9549', 16.7)
(396, 0, 3, 'Johansson, Mr. Erik', 'male', 22, '350052', 7.7958)
(397, 0, 3, 'Olsson, Miss. Elina', 'female', 31, '350407', 7.8542)
(398, 0, 2, 'McKane, Mr. Peter David', 'male', 46, '28403', 34.11214999999993)
(399, 0, 2, 'Pain, Dr. Alfred', 'male', 23, '244278', 10.5)
(400, 1, 2, 'Trout, Mrs. William H (Jessie L)', 'female', 28, '240929', 12.65)
(401, 1, 3, 'Niskanen, Mr. Juha', 'male', 39, 'STON/O 2. 3101289', 7.925)
(402, 0, 3, 'Adams, Mr. John', 'male', 26, '341826', 8.05)
(403, 0, 3, 'Jussila, Miss. Mari Aina', 'female', 21, '4137', 9.825)
(404, 0, 3, 'Hakkarainen, Mr. Pekka Pietari', 'male', 28, 'STON/O2. 3101279', 15.85)
(405, 0, 3, 'Oreskovic, Miss. Marija', 'female', 20, '315096', 8.6625)
(406, 0, 2, 'Gale, Mr. Shadrach', 'male', 34, '28664', 34.11214999999993)
(407, 0, 3, 'Widegren, Mr. Carl/Charles Peter', 'male', 51, '347064', 7.75)
(408, 1, 2, 'Richards, Master. William Rowe', 'male', 3, '29106', 18.75)
(409, 0, 3, 'Birkeland, Mr. Hans Martin Monsen', 'male', 21, '312992', 7.775)
(410, 0, 3, 'Lefebre, Miss. Ida', 'female', '', '4133', 34.11214999999993)
(411, 0, 3, 'Sdycoff, Mr. Todor', 'male', '', '349222', 7.8958)
(412, 0, 3, 'Hart, Mr. Henry', 'male', '', '394140', 6.8583)
(413, 1, 1, 'Minahan, Miss. Daisy E', 'female', 33, '19928', 90.0)
(414, 0, 2, 'Cunningham, Mr. Alfred Fleming', 'male', '', '239853', 34.11214999999993)
(415, 1, 3, 'Sundman, Mr. Johan Julian', 'male', 44, 'STON/O 2. 3101269', 7.925)
(416, 0, 3, 'Meek, Mrs. Thomas (Annie Louise Rowley)', 'female', '', '343095', 8.05)
(417, 1, 2, 'Drew, Mrs. James Vivian (Lulu Thorne Christian)', 'female', 34, '28220', 32.5)
(418, 1, 2, 'Silven, Miss. Lyyli Karoliina', 'female', 18, '250652', 13.0)
(419, 0, 2, 'Matthews, Mr. William John', 'male', 30, '28228', 13.0)
(420, 0, 3, 'Van Impe, Miss. Catharina', 'female', 10, '345773', 34.11214999999993)
(421, 0, 3, 'Gheorgheff, Mr. Stanio', 'male', '', '349254', 7.8958)
(422, 0, 3, 'Charters, Mr. David', 'male', 21, 'A/5. 13032', 7.7333)
(423, 0, 3, 'Zimmerman, Mr. Leo', 'male', 29, '315082', 7.875)
(424, 0, 3, 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)', 'female', 28, '347080', 14.4)
(425, 0, 3, 'Rosblom, Mr. Viktor Richard', 'male', 18, '370129', 34.11214999999993)
(426, 0, 3, 'Wiseman, Mr. Phillippe', 'male', '', 'A/4. 34244', 7.25)
(427, 1, 2, 'Clarke, Mrs. Charles V (Ada Maria Winfield)', 'female', 28, '2003', 34.11214999999993)
(428, 1, 2, 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")', 'female', 19, '250655', 34.11214999999993)
(429, 0, 3, 'Flynn, Mr. James', 'male', '', '364851', 7.75)
(430, 1, 3, 'Pickard, Mr. Berk (Berk Trembisky)', 'male', 32, 'SOTON/O.Q. 392078', 8.05)
(431, 1, 1, 'Bjornstrom-Steffansson, Mr. Mauritz Hakan', 'male', 28, '110564', 34.11214999999993)
(432, 1, 3, 'Thorneycroft, Mrs. Percival (Florence Kate White)', 'female', '', '376564', 16.1)
(433, 1, 2, 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)', 'female', 42, 'SC/AH 3085', 34.11214999999993)
(434, 0, 3, 'Kallio, Mr. Nikolai Erland', 'male', 17, 'STON/O 2. 3101274', 7.125)
(435, 0, 1, 'Silvey, Mr. William Baird', 'male', 50, '13507', 55.9)
(436, 1, 1, 'Carter, Miss. Lucile Polk', 'female', 14, '113760', 120.0)
(437, 0, 3, 'Ford, Miss. Doolina Margaret "Daisy"', 'female', 21, 'W./C. 6608', 34.375)
(438, 1, 2, 'Richards, Mrs. Sidney (Emily Hocking)', 'female', 24, '29106', 18.75)
(439, 0, 1, 'Fortune, Mr. Mark', 'male', 64, '19950', 263.0)
(440, 0, 2, 'Kvillner, Mr. Johan Henrik Johannesson', 'male', 31, 'C.A. 18723', 10.5)
(441, 1, 2, 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)', 'female', 45, 'F.C.C. 13529', 34.11214999999993)
(442, 0, 3, 'Hampe, Mr. Leon', 'male', 20, '345769', 9.5)
(443, 0, 3, 'Petterson, Mr. Johan Emil', 'male', 25, '347076', 7.775)
(444, 1, 2, 'Reynaldo, Ms. Encarnacion', 'female', 28, '230434', 13.0)
(445, 1, 3, 'Johannesen-Bratthammer, Mr. Bernt', 'male', '', '65306', 8.1125)
(446, 1, 1, 'Dodge, Master. Washington', 'male', 4, '33638', 81.8583)
(447, 1, 2, 'Mellinger, Miss. Madeleine Violet', 'female', 13, '250644', 19.5)
(448, 1, 1, 'Seward, Mr. Frederic Kimber', 'male', 34, '113794', 34.11214999999993)
(449, 1, 3, 'Baclini, Miss. Marie Catherine', 'female', 5, '2666', 19.2583)
(450, 1, 1, 'Peuchen, Major. Arthur Godfrey', 'male', 52, '113786', 30.5)
(451, 0, 2, 'West, Mr. Edwy Arthur', 'male', 36, 'C.A. 34651', 34.11214999999993)
(452, 0, 3, 'Hagland, Mr. Ingvald Olai Olsen', 'male', '', '65303', 19.9667)
(453, 0, 1, 'Foreman, Mr. Benjamin Laventall', 'male', 30, '113051', 34.11214999999993)
(454, 1, 1, 'Goldenberg, Mr. Samuel L', 'male', 49, '17453', 89.1042)
(455, 0, 3, 'Peduzzi, Mr. Joseph', 'male', '', 'A/5 2817', 8.05)
(456, 1, 3, 'Jalsevac, Mr. Ivan', 'male', 29, '349240', 7.8958)
(457, 0, 1, 'Millet, Mr. Francis Davis', 'male', 65, '13509', 34.11214999999993)
(458, 1, 1, 'Kenyon, Mrs. Frederick R (Marion)', 'female', '', '17464', 51.8625)
(459, 1, 2, 'Toomey, Miss. Ellen', 'female', 50, 'F.C.C. 13531', 10.5)
(460, 0, 3, "O'Connor, Mr. Maurice", 'male', '', '371060', 7.75)
(461, 1, 1, 'Anderson, Mr. Harry', 'male', 48, '19952', 34.11214999999993)
(462, 0, 3, 'Morley, Mr. William', 'male', 34, '364506', 8.05)
(463, 0, 1, 'Gee, Mr. Arthur H', 'male', 47, '111320', 38.5)
(464, 0, 2, 'Milling, Mr. Jacob Christian', 'male', 48, '234360', 13.0)
(465, 0, 3, 'Maisner, Mr. Simon', 'male', '', 'A/S 2816', 8.05)
(466, 0, 3, 'Goncalves, Mr. Manuel Estanslas', 'male', 38, 'SOTON/O.Q. 3101306', 7.05)
(467, 0, 2, 'Campbell, Mr. William', 'male', '', '239853', 34.11214999999993)
(468, 0, 1, 'Smart, Mr. John Montgomery', 'male', 56, '113792', 34.11214999999993)
(469, 0, 3, 'Scanlan, Mr. James', 'male', '', '36209', 7.725)
(470, 1, 3, 'Baclini, Miss. Helene Barbara', 'female', 0.75, '2666', 19.2583)
(471, 0, 3, 'Keefe, Mr. Arthur', 'male', '', '323592', 7.25)
(472, 0, 3, 'Cacic, Mr. Luka', 'male', 38, '315089', 8.6625)
(473, 1, 2, 'West, Mrs. Edwy Arthur (Ada Mary Worth)', 'female', 33, 'C.A. 34651', 34.11214999999993)
(474, 1, 2, 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)', 'female', 23, 'SC/AH Basle 541', 13.7917)
(475, 0, 3, 'Strandberg, Miss. Ida Sofia', 'female', 22, '7553', 9.8375)
(476, 0, 1, 'Clifford, Mr. George Quincy', 'male', '', '110465', 52.0)
(477, 0, 2, 'Renouf, Mr. Peter Henry', 'male', 34, '31027', 34.11214999999993)
(478, 0, 3, 'Braund, Mr. Lewis Richard', 'male', 29, '3460', 7.0458)
(479, 0, 3, 'Karlsson, Mr. Nils August', 'male', 22, '350060', 7.5208)
(480, 1, 3, 'Hirvonen, Miss. Hildur E', 'female', 2, '3101298', 12.2875)
(481, 0, 3, 'Goodwin, Master. Harold Victor', 'male', 9, 'CA 2144', 46.9)
(482, 0, 2, 'Frost, Mr. Anthony Wood "Archie"', 'male', '', '239854', 34.11214999999993)
(483, 0, 3, 'Rouse, Mr. Richard Henry', 'male', 50, 'A/5 3594', 8.05)
(484, 1, 3, 'Turkula, Mrs. (Hedwig)', 'female', 63, '4134', 9.5875)
(485, 1, 1, 'Bishop, Mr. Dickinson H', 'male', 25, '11967', 91.0792)
(486, 0, 3, 'Lefebre, Miss. Jeannie', 'female', '', '4133', 34.11214999999993)
(487, 1, 1, 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)', 'female', 35, '19943', 90.0)
(488, 0, 1, 'Kent, Mr. Edward Austin', 'male', 58, '11771', 34.11214999999993)
(489, 0, 3, 'Somerton, Mr. Francis William', 'male', 30, 'A.5. 18509', 8.05)
(490, 1, 3, 'Coutts, Master. Eden Leslie "Neville"', 'male', 9, 'C.A. 37671', 15.9)
(491, 0, 3, 'Hagland, Mr. Konrad Mathias Reiersen', 'male', '', '65304', 19.9667)
(492, 0, 3, 'Windelov, Mr. Einar', 'male', 21, 'SOTON/OQ 3101317', 7.25)
(493, 0, 1, 'Molson, Mr. Harry Markland', 'male', 55, '113787', 30.5)
(494, 0, 1, 'Artagaveytia, Mr. Ramon', 'male', 71, 'PC 17609', 49.5042)
(495, 0, 3, 'Stanley, Mr. Edward Roland', 'male', 21, 'A/4 45380', 8.05)
(496, 0, 3, 'Yousseff, Mr. Gerious', 'male', '', '2627', 14.4583)
(497, 1, 1, 'Eustis, Miss. Elizabeth Mussey', 'female', 54, '36947', 78.2667)
(498, 0, 3, 'Shellard, Mr. Frederick William', 'male', '', 'C.A. 6212', 15.1)
(499, 0, 1, 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)', 'female', 25, '113781', 151.55)
(500, 0, 3, 'Svensson, Mr. Olof', 'male', 24, '350035', 7.7958)
(501, 0, 3, 'Calic, Mr. Petar', 'male', 17, '315086', 8.6625)
(502, 0, 3, 'Canavan, Miss. Mary', 'female', 21, '364846', 7.75)
(503, 0, 3, "O'Sullivan, Miss. Bridget Mary", 'female', '', '330909', 7.6292)
(504, 0, 3, 'Laitinen, Miss. Kristina Sofia', 'female', 37, '4135', 9.5875)
(505, 1, 1, 'Maioni, Miss. Roberta', 'female', 16, '110152', 86.5)
(506, 0, 1, 'Penasco y Castellana, Mr. Victor de Satode', 'male', 18, 'PC 17758', 108.9)
(507, 1, 2, 'Quick, Mrs. Frederick Charles (Jane Richards)', 'female', 33, '26360', 34.11214999999993)
(508, 1, 1, 'Bradley, Mr. George ("George Arthur Brayton")', 'male', '', '111427', 34.11214999999993)
(509, 0, 3, 'Olsen, Mr. Henry Margido', 'male', 28, 'C 4001', 34.11214999999993)
(510, 1, 3, 'Lang, Mr. Fang', 'male', 26, '1601', 56.4958)
(511, 1, 3, 'Daly, Mr. Eugene Patrick', 'male', 29, '382651', 7.75)
(512, 0, 3, 'Webber, Mr. James', 'male', '', 'SOTON/OQ 3101316', 8.05)
(513, 1, 1, 'McGough, Mr. James Robert', 'male', 36, 'PC 17473', 34.11214999999993)
(514, 1, 1, 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)', 'female', 54, 'PC 17603', 59.4)
(515, 0, 3, 'Coleff, Mr. Satio', 'male', 24, '349209', 7.4958)
(516, 0, 1, 'Walker, Mr. William Anderson', 'male', 47, '36967', 34.0208)
(517, 1, 2, 'Lemore, Mrs. (Amelia Milley)', 'female', 34, 'C.A. 34260', 10.5)
(518, 0, 3, 'Ryan, Mr. Patrick', 'male', '', '371110', 34.11214999999993)
(519, 1, 2, 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)', 'female', 36, '226875', 34.11214999999993)
(520, 0, 3, 'Pavlovic, Mr. Stefo', 'male', 32, '349242', 7.8958)
(521, 1, 1, 'Perreault, Miss. Anne', 'female', 30, '12749', 93.5)
(522, 0, 3, 'Vovk, Mr. Janko', 'male', 22, '349252', 7.8958)
(523, 0, 3, 'Lahoud, Mr. Sarkis', 'male', '', '2624', 7.225)
(524, 1, 1, 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)', 'female', 44, '111361', 57.9792)
(525, 0, 3, 'Kassem, Mr. Fared', 'male', '', '2700', 7.2292)
(526, 0, 3, 'Farrell, Mr. James', 'male', 40.5, '367232', 7.75)
(527, 1, 2, 'Ridsdale, Miss. Lucy', 'female', 50, 'W./C. 14258', 10.5)
(528, 0, 1, 'Farthing, Mr. John', 'male', '', 'PC 17483', 221.7792)
(529, 0, 3, 'Salonen, Mr. Johan Werner', 'male', 39, '3101296', 7.925)
(530, 0, 2, 'Hocking, Mr. Richard George', 'male', 23, '29104', 11.5)
(531, 1, 2, 'Quick, Miss. Phyllis May', 'female', 2, '26360', 34.11214999999993)
(532, 0, 3, 'Toufik, Mr. Nakli', 'male', '', '2641', 7.2292)
(533, 0, 3, 'Elias, Mr. Joseph Jr', 'male', 17, '2690', 7.2292)
(534, 1, 3, 'Peter, Mrs. Catherine (Catherine Rizk)', 'female', '', '2668', 34.11214999999993)
(535, 0, 3, 'Cacic, Miss. Marija', 'female', 30, '315084', 8.6625)
(536, 1, 2, 'Hart, Miss. Eva Miriam', 'female', 7, 'F.C.C. 13529', 34.11214999999993)
(537, 0, 1, 'Butt, Major. Archibald Willingham', 'male', 45, '113050', 34.11214999999993)
(538, 1, 1, 'LeRoy, Miss. Bertha', 'female', 30, 'PC 17761', 106.425)
(539, 0, 3, 'Risien, Mr. Samuel Beard', 'male', '', '364498', 14.5)
(540, 1, 1, 'Frolicher, Miss. Hedwig Margaritha', 'female', 22, '13568', 49.5)
(541, 1, 1, 'Crosby, Miss. Harriet R', 'female', 36, 'WE/P 5735', 71.0)
(542, 0, 3, 'Andersson, Miss. Ingeborg Constanzia', 'female', 9, '347082', 31.275)
(543, 0, 3, 'Andersson, Miss. Sigrid Elisabeth', 'female', 11, '347082', 31.275)
(544, 1, 2, 'Beane, Mr. Edward', 'male', 32, '2908', 34.11214999999993)
(545, 0, 1, 'Douglas, Mr. Walter Donald', 'male', 50, 'PC 17761', 106.425)
(546, 0, 1, 'Nicholson, Mr. Arthur Ernest', 'male', 64, '693', 34.11214999999993)
(547, 1, 2, 'Beane, Mrs. Edward (Ethel Clarke)', 'female', 19, '2908', 34.11214999999993)
(548, 1, 2, 'Padro y Manent, Mr. Julian', 'male', '', 'SC/PARIS 2146', 13.8625)
(549, 0, 3, 'Goldsmith, Mr. Frank John', 'male', 33, '363291', 34.11214999999993)
(550, 1, 2, 'Davies, Master. John Morgan Jr', 'male', 8, 'C.A. 33112', 36.75)
(551, 1, 1, 'Thayer, Mr. John Borland Jr', 'male', 17, '17421', 110.8833)
(552, 0, 2, 'Sharp, Mr. Percival James R', 'male', 27, '244358', 34.11214999999993)
(553, 0, 3, "O'Brien, Mr. Timothy", 'male', '', '330979', 7.8292)
(554, 1, 3, 'Leeni, Mr. Fahim ("Philip Zenni")', 'male', 22, '2620', 7.225)
(555, 1, 3, 'Ohman, Miss. Velin', 'female', 22, '347085', 7.775)
(556, 0, 1, 'Wright, Mr. George', 'male', 62, '113807', 34.11214999999993)
(557, 1, 1, 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")', 'female', 48, '11755', 39.6)
(558, 0, 1, 'Robbins, Mr. Victor', 'male', '', 'PC 17757', 227.525)
(559, 1, 1, 'Taussig, Mrs. Emil (Tillie Mandelbaum)', 'female', 39, '110413', 79.65)
(560, 1, 3, 'de Messemaeker, Mrs. Guillaume Joseph (Emma)', 'female', 36, '345572', 17.4)
(561, 0, 3, 'Morrow, Mr. Thomas Rowan', 'male', '', '372622', 7.75)
(562, 0, 3, 'Sivic, Mr. Husein', 'male', 40, '349251', 7.8958)
(563, 0, 2, 'Norman, Mr. Robert Douglas', 'male', 28, '218629', 13.5)
(564, 0, 3, 'Simmons, Mr. John', 'male', '', 'SOTON/OQ 392082', 8.05)
(565, 0, 3, 'Meanwell, Miss. (Marion Ogden)', 'female', '', 'SOTON/O.Q. 392087', 8.05)
(566, 0, 3, 'Davies, Mr. Alfred J', 'male', 24, 'A/4 48871', 34.11214999999993)
(567, 0, 3, 'Stoytcheff, Mr. Ilia', 'male', 19, '349205', 7.8958)
(568, 0, 3, 'Palsson, Mrs. Nils (Alma Cornelia Berglund)', 'female', 29, '349909', 34.11214999999993)
(569, 0, 3, 'Doharr, Mr. Tannous', 'male', '', '2686', 7.2292)
(570, 1, 3, 'Jonsson, Mr. Carl', 'male', 32, '350417', 7.8542)
(571, 1, 2, 'Harris, Mr. George', 'male', 62, 'S.W./PP 752', 10.5)
(572, 1, 1, 'Appleton, Mrs. Edward Dale (Charlotte Lamson)', 'female', 53, '11769', 51.4792)
(573, 1, 1, 'Flynn, Mr. John Irwin ("Irving")', 'male', 36, 'PC 17474', 34.11214999999993)
(574, 1, 3, 'Kelly, Miss. Mary', 'female', '', '14312', 7.75)
(575, 0, 3, 'Rush, Mr. Alfred George John', 'male', 16, 'A/4. 20589', 8.05)
(576, 0, 3, 'Patchett, Mr. George', 'male', 19, '358585', 14.5)
(577, 1, 2, 'Garside, Miss. Ethel', 'female', 34, '243880', 13.0)
(578, 1, 1, 'Silvey, Mrs. William Baird (Alice Munger)', 'female', 39, '13507', 55.9)
(579, 0, 3, 'Caram, Mrs. Joseph (Maria Elias)', 'female', '', '2689', 14.4583)
(580, 1, 3, 'Jussila, Mr. Eiriik', 'male', 32, 'STON/O 2. 3101286', 7.925)
(581, 1, 2, 'Christy, Miss. Julie Rachel', 'female', 25, '237789', 30.0)
(582, 1, 1, 'Thayer, Mrs. John Borland (Marian Longstreth Morris)', 'female', 39, '17421', 110.8833)
(583, 0, 2, 'Downton, Mr. William James', 'male', 54, '28403', 34.11214999999993)
(584, 0, 1, 'Ross, Mr. John Hugo', 'male', 36, '13049', 40.125)
(585, 0, 3, 'Paulner, Mr. Uscher', 'male', '', '3411', 8.7125)
(586, 1, 1, 'Taussig, Miss. Ruth', 'female', 18, '110413', 79.65)
(587, 0, 2, 'Jarvis, Mr. John Denzil', 'male', 47, '237565', 15.0)
(588, 1, 1, 'Frolicher-Stehli, Mr. Maxmillian', 'male', 60, '13567', 79.2)
(589, 0, 3, 'Gilinski, Mr. Eliezer', 'male', 22, '14973', 8.05)
(590, 0, 3, 'Murdlin, Mr. Joseph', 'male', '', 'A./5. 3235', 8.05)
(591, 0, 3, 'Rintamaki, Mr. Matti', 'male', 35, 'STON/O 2. 3101273', 7.125)
(592, 1, 1, 'Stephenson, Mrs. Walter Bertram (Martha Eustis)', 'female', 52, '36947', 78.2667)
(593, 0, 3, 'Elsbury, Mr. William James', 'male', 47, 'A/5 3902', 7.25)
(594, 0, 3, 'Bourke, Miss. Mary', 'female', '', '364848', 7.75)
(595, 0, 2, 'Chapman, Mr. John Henry', 'male', 37, 'SC/AH 29037', 34.11214999999993)
(596, 0, 3, 'Van Impe, Mr. Jean Baptiste', 'male', 36, '345773', 34.11214999999993)
(597, 1, 2, 'Leitch, Miss. Jessie Wills', 'female', '', '248727', 33.0)
(598, 0, 3, 'Johnson, Mr. Alfred', 'male', 49, 'LINE', 34.11214999999993)
(599, 0, 3, 'Boulos, Mr. Hanna', 'male', '', '2664', 7.225)
(600, 1, 1, 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")', 'male', 49, 'PC 17485', 56.9292)
(601, 1, 2, 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)', 'female', 24, '243847', 34.11214999999993)
(602, 0, 3, 'Slabenoff, Mr. Petco', 'male', '', '349214', 7.8958)
(603, 0, 1, 'Harrington, Mr. Charles H', 'male', '', '113796', 42.4)
(604, 0, 3, 'Torber, Mr. Ernst William', 'male', 44, '364511', 8.05)

(765, 0, 3, 'Eklund, Mr. Hans Linus', 'male', 16, '347074', 7.775)
(766, 1, 1, 'Hogeboom, Mrs. John C (Anna Andrews)', 'female', 51, '13502', 77.9583)
(767, 0, 1, 'Brewe, Dr. Arthur Jackson', 'male', '', '112379', 39.6)
(768, 0, 3, 'Mangan, Miss. Mary', 'female', 30.5, '364850', 7.75)
(769, 0, 3, 'Moran, Mr. Daniel J', 'male', '', '371110', 34.11214999999993)
(770, 0, 3, 'Gronnestad, Mr. Daniel Danielsen', 'male', 32, '8471', 8.3625)
(771, 0, 3, 'Lievens, Mr. Rene Aime', 'male', 24, '345781', 9.5)
(772, 0, 3, 'Jensen, Mr. Niels Peder', 'male', 48, '350047', 7.8542)
(773, 0, 2, 'Mack, Mrs. (Mary)', 'female', 57, 'S.O./P.P. 3', 10.5)
(774, 0, 3, 'Elias, Mr. Dibo', 'male', '', '2674', 7.225)
(775, 1, 2, 'Hocking, Mrs. Elizabeth (Eliza Needs)', 'female', 54, '29105', 34.11214999999993)
(776, 0, 3, 'Myhrman, Mr. Pehr Fabian Oliver Malkolm', 'male', 18, '347078', 7.75)
(777, 0, 3, 'Tobin, Mr. Roger', 'male', '', '383121', 7.75)
(778, 1, 3, 'Emanuel, Miss. Virginia Ethel', 'female', 5, '364516', 12.475)
(779, 0, 3, 'Kilgannon, Mr. Thomas J', 'male', '', '36865', 7.7375)
(780, 1, 1, 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)', 'female', 43, '24160', 211.3375)
(781, 1, 3, 'Ayoub, Miss. Banoura', 'female', 13, '2687', 7.2292)
(782, 1, 1, 'Dick, Mrs. Albert Adrian (Vera Gillespie)', 'female', 17, '17474', 57.0)
(783, 0, 1, 'Long, Mr. Milton Clyde', 'male', 29, '113501', 30.0)
(784, 0, 3, 'Johnston, Mr. Andrew G', 'male', '', 'W./C. 6607', 34.11214999999993)
(785, 0, 3, 'Ali, Mr. William', 'male', 25, 'SOTON/O.Q. 3101312', 7.05)
(786, 0, 3, 'Harmer, Mr. Abraham (David Lishin)', 'male', 25, '374887', 7.25)
(787, 1, 3, 'Sjoblom, Miss. Anna Sofia', 'female', 18, '3101265', 7.4958)
(788, 0, 3, 'Rice, Master. George Hugh', 'male', 8, '382652', 34.11214999999993)
(789, 1, 3, 'Dean, Master. Bertram Vere', 'male', 1, 'C.A. 2315', 34.11214999999993)
(790, 0, 1, 'Guggenheim, Mr. Benjamin', 'male', 46, 'PC 17593', 79.2)
(791, 0, 3, 'Keane, Mr. Andrew "Andy"', 'male', '', '12460', 7.75)
(792, 0, 2, 'Gaskell, Mr. Alfred', 'male', 16, '239865', 34.11214999999993)
(793, 0, 3, 'Sage, Miss. Stella Anna', 'female', '', 'CA. 2343', 69.55)
(794, 0, 1, 'Hoyt, Mr. William Fisher', 'male', '', 'PC 17600', 30.6958)
(795, 0, 3, 'Dantcheff, Mr. Ristiu', 'male', 25, '349203', 7.8958)
(796, 0, 2, 'Otter, Mr. Richard', 'male', 39, '28213', 13.0)
(797, 1, 1, 'Leader, Dr. Alice (Farnham)', 'female', 49, '17465', 34.11214999999993)
(798, 1, 3, 'Osman, Mrs. Mara', 'female', 31, '349244', 8.6833)
(799, 0, 3, 'Ibrahim Shawah, Mr. Yousseff', 'male', 30, '2685', 7.2292)
(800, 0, 3, 'Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)', 'female', 30, '345773', 34.11214999999993)
(801, 0, 2, 'Ponesell, Mr. Martin', 'male', 34, '250647', 13.0)
(802, 1, 2, 'Collyer, Mrs. Harvey (Charlotte Annie Tate)', 'female', 31, 'C.A. 31921', 34.11214999999993)
(803, 1, 1, 'Carter, Master. William Thornton II', 'male', 11, '113760', 120.0)
(804, 1, 3, 'Thomas, Master. Assad Alexander', 'male', 0.42, '2625', 8.5167)
(805, 1, 3, 'Hedman, Mr. Oskar Arvid', 'male', 27, '347089', 6.975)
(806, 0, 3, 'Johansson, Mr. Karl Johan', 'male', 31, '347063', 7.775)
(807, 0, 1, 'Andrews, Mr. Thomas Jr', 'male', 39, '112050', 34.11214999999993)
(808, 0, 3, 'Pettersson, Miss. Ellen Natalia', 'female', 18, '347087', 7.775)
(809, 0, 2, 'Meyer, Mr. August', 'male', 39, '248723', 13.0)
(810, 1, 1, 'Chambers, Mrs. Norman Campbell (Bertha Griggs)', 'female', 33, '113806', 53.1)
(811, 0, 3, 'Alexander, Mr. William', 'male', 26, '3474', 7.8875)
(812, 0, 3, 'Lester, Mr. James', 'male', 39, 'A/4 48871', 34.11214999999993)
(813, 0, 2, 'Slemen, Mr. Richard James', 'male', 35, '28206', 10.5)
(814, 0, 3, 'Andersson, Miss. Ebba Iris Alfrida', 'female', 6, '347082', 31.275)
(815, 0, 3, 'Tomlin, Mr. Ernest Portage', 'male', 30.5, '364499', 8.05)
(816, 0, 1, 'Fry, Mr. Richard', 'male', '', '112058', 34.11214999999993)
(817, 0, 3, 'Heininen, Miss. Wendla Maria', 'female', 23, 'STON/O2. 3101290', 7.925)
(818, 0, 2, 'Mallet, Mr. Albert', 'male', 31, 'S.C./PARIS 2079', 37.0042)
(819, 0, 3, 'Holm, Mr. John Fredrik Alexander', 'male', 43, 'C 7075', 6.45)
(820, 0, 3, 'Skoog, Master. Karl Thorsten', 'male', 10, '347088', 34.11214999999993)
(821, 1, 1, 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)', 'female', 52, '12749', 93.5)
(822, 1, 3, 'Lulic, Mr. Nikola', 'male', 27, '315098', 8.6625)
(823, 0, 1, 'Reuchlin, Jonkheer. John George', 'male', 38, '19972', 34.11214999999993)
(824, 1, 3, 'Moor, Mrs. (Beila)', 'female', 27, '392096', 12.475)
(825, 0, 3, 'Panula, Master. Urho Abraham', 'male', 2, '3101295', 39.6875)
(826, 0, 3, 'Flynn, Mr. John', 'male', '', '368323', 6.95)
(827, 0, 3, 'Lam, Mr. Len', 'male', '', '1601', 56.4958)
(828, 1, 2, 'Mallet, Master. Andre', 'male', 1, 'S.C./PARIS 2079', 37.0042)
(829, 1, 3, 'McCormack, Mr. Thomas Joseph', 'male', '', '367228', 7.75)
(830, 1, 1, 'Stone, Mrs. George Nelson (Martha Evelyn)', 'female', 62, '113572', 80.0)
(831, 1, 3, 'Yasbeck, Mrs. Antoni (Selini Alexander)', 'female', 15, '2659', 14.4542)
(832, 1, 2, 'Richards, Master. George Sibley', 'male', 0.83, '29106', 18.75)
(833, 0, 3, 'Saad, Mr. Amin', 'male', '', '2671', 7.2292)
(834, 0, 3, 'Augustsson, Mr. Albert', 'male', 23, '347468', 7.8542)
(835, 0, 3, 'Allum, Mr. Owen George', 'male', 18, '2223', 8.3)
(836, 1, 1, 'Compton, Miss. Sara Rebecca', 'female', 39, 'PC 17756', 83.1583)
(837, 0, 3, 'Pasic, Mr. Jakob', 'male', 21, '315097', 8.6625)
(838, 0, 3, 'Sirota, Mr. Maurice', 'male', '', '392092', 8.05)
(839, 1, 3, 'Chip, Mr. Chang', 'male', 32, '1601', 56.4958)
(840, 1, 1, 'Marechal, Mr. Pierre', 'male', '', '11774', 34.11214999999993)
(841, 0, 3, 'Alhomaki, Mr. Ilmari Rudolf', 'male', 20, 'SOTON/O2 3101287', 7.925)
(842, 0, 2, 'Mudd, Mr. Thomas Charles', 'male', 16, 'S.O./P.P. 3', 10.5)
(843, 1, 1, 'Serepeca, Miss. Augusta', 'female', 30, '113798', 31.0)
(844, 0, 3, 'Lemberopolous, Mr. Peter L', 'male', 34.5, '2683', 6.4375)
(845, 0, 3, 'Culumovic, Mr. Jeso', 'male', 17, '315090', 8.6625)
(846, 0, 3, 'Abbing, Mr. Anthony', 'male', 42, 'C.A. 5547', 7.55)
(847, 0, 3, 'Sage, Mr. Douglas Bullen', 'male', '', 'CA. 2343', 69.55)
(848, 0, 3, 'Markoff, Mr. Marin', 'male', 35, '349213', 7.8958)
(849, 0, 2, 'Harper, Rev. John', 'male', 28, '248727', 33.0)
(850, 1, 1, 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)', 'female', '', '17453', 89.1042)
(851, 0, 3, 'Andersson, Master. Sigvard Harald Elias', 'male', 4, '347082', 31.275)
(852, 0, 3, 'Svensson, Mr. Johan', 'male', 74, '347060', 7.775)
(853, 0, 3, 'Boulos, Miss. Nourelain', 'female', 9, '2678', 15.2458)
(854, 1, 1, 'Lines, Miss. Mary Conover', 'female', 16, 'PC 17592', 39.4)
(855, 0, 2, 'Carter, Mrs. Ernest Courtenay (Lilian Hughes)', 'female', 44, '244252', 34.11214999999993)
(856, 1, 3, 'Aks, Mrs. Sam (Leah Rosen)', 'female', 18, '392091', 9.35)
(857, 1, 1, 'Wick, Mrs. George Dennick (Mary Hitchcock)', 'female', 45, '36928', 164.8667)
(858, 1, 1, 'Daly, Mr. Peter Denis ', 'male', 51, '113055', 34.11214999999993)
(859, 1, 3, 'Baclini, Mrs. Solomon (Latifa Qurban)', 'female', 24, '2666', 19.2583)
(860, 0, 3, 'Razi, Mr. Raihed', 'male', '', '2629', 7.2292)
(861, 0, 3, 'Hansen, Mr. Claus Peter', 'male', 41, '350026', 14.1083)
(862, 0, 2, 'Giles, Mr. Frederick Edward', 'male', 21, '28134', 11.5)
(863, 1, 1, 'Swift, Mrs. Frederick Joel (Margaret Welles Barron)', 'female', 48, '17466', 34.11214999999993)
(864, 0, 3, 'Sage, Miss. Dorothy Edith "Dolly"', 'female', '', 'CA. 2343', 69.55)
(865, 0, 2, 'Gill, Mr. John William', 'male', 24, '233866', 13.0)
(866, 1, 2, 'Bystrom, Mrs. (Karolina)', 'female', 42, '236852', 13.0)
(867, 1, 2, 'Duran y More, Miss. Asuncion', 'female', 27, 'SC/PARIS 2149', 13.8583)
(868, 0, 1, 'Roebling, Mr. Washington Augustus II', 'male', 31, 'PC 17590', 50.4958)
(869, 0, 3, 'van Melkebeke, Mr. Philemon', 'male', '', '345777', 9.5)
(870, 1, 3, 'Johnson, Master. Harold Theodor', 'male', 4, '347742', 11.1333)
(871, 0, 3, 'Balkic, Mr. Cerin', 'male', 26, '349248', 7.8958)
(872, 1, 1, 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)', 'female', 47, '11751', 52.5542)
(873, 0, 1, 'Carlsson, Mr. Frans Olof', 'male', 33, '695', 5.0)
(874, 0, 3, 'Vander Cruyssen, Mr. Victor', 'male', 47, '345765', 9.0)
(875, 1, 2, 'Abelson, Mrs. Samuel (Hannah Wizosky)', 'female', 28, 'P/PP 3381', 34.11214999999993)
(876, 1, 3, 'Najib, Miss. Adele Kiamie "Jane"', 'female', 15, '2667', 7.225)
(877, 0, 3, 'Gustafsson, Mr. Alfred Ossian', 'male', 20, '7534', 9.8458)
(878, 0, 3, 'Petroff, Mr. Nedelio', 'male', 19, '349212', 7.8958)
(879, 0, 3, 'Laleff, Mr. Kristo', 'male', '', '349217', 7.8958)
(880, 1, 1, 'Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)', 'female', 56, '11767', 83.1583)
(881, 1, 2, 'Shelley, Mrs. William (Imanita Parrish Hall)', 'female', 25, '230433', 34.11214999999993)
(882, 0, 3, 'Markun, Mr. Johann', 'male', 33, '349257', 7.8958)
(883, 0, 3, 'Dahlberg, Miss. Gerda Ulrika', 'female', 22, '7552', 10.5167)
(884, 0, 2, 'Banfield, Mr. Frederick James', 'male', 28, 'C.A./SOTON 34068', 10.5)
(885, 0, 3, 'Sutehall, Mr. Henry Jr', 'male', 25, 'SOTON/OQ 392076', 7.05)
(886, 0, 3, 'Rice, Mrs. William (Margaret Norton)', 'female', 39, '382652', 34.11214999999993)
(887, 0, 2, 'Montvila, Rev. Juozas', 'male', 27, '211536', 13.0)
(888, 1, 1, 'Graham, Miss. Margaret Edith', 'female', 19, '112053', 30.0)
(889, 0, 3, 'Johnston, Miss. Catherine Helen "Carrie"', 'female', '', 'W./C. 6607', 34.11214999999993)
(890, 1, 1, 'Behr, Mr. Karl Howell', 'male', 26, '111369', 30.0)
(891, 0, 3, 'Dooley, Mr. Patrick', 'male', 32, '370376', 7.75)